{% extends "polls_base.html" %}



{% block addnew %}



<a id="yop-poll-add-new-ban" class="add-new-h2" href="javascript:void(0);">{{ __('Add New') }}  </a>

{% endblock  addnew %}

{% block message %}

{%if message.error!= ""%}

<div id="message" class="error">{{ message.error}}</div>

{% else %}

{%if message.succes != "" %}

<div id="message" class="updated">{{ message.succes}}</div>

{% endif %}

{% endif%}

{%endblock message %}

{% block content %}



<div id='yop-poll-add-ban-div' style="display:none ;">

    <p>{{__( 'Ban IP, Username or Email' ) }}</p>

    <form  action="?page=yop-polls-bans&action=add-new" method="post" id="add-edit-ban">

        <input type="hidden" name="page" value="yop-polls-bans"/>

        <input id="action" type="hidden" name="action" value="add-ban"/>

        <input id="retain-id" type hidden name="retain_id" value="" />

        {{ wp_nonce_field( 'yop-poll-add-edit-ban', 'yop-poll-add-edit-ban', false, false ) | raw }}

        <table class="form-table">

            <tbody>

            <tr class="form-field form-required">

                <th scope="row"><label for="yop-poll-name">{{__( 'Poll' ) }} <span

                        class="description">(required)</span></label></th>

                <td><select style="width: 15%" name="ban_poll_id" id="yop-poll-bans-polls">



                    <option id="choose-option" value="0">{{__( 'Bans For All Polls' )}}</option>

                    {% if  count( yop_polls ) > 0 %}

                    {% for yop_poll in yop_polls %}

                    <option id="" value="{{ yop_poll.ID }}">{{yop_poll.poll_title}}</option>



                    {% endfor%}

                    {% endif %}

                </select></td>

            </tr>

            </tr>

            <tr class="form-field form-required">

                <th scope="row"><label for="yop-poll-type">{{__( 'Type' )}} <span

                        class="description">(required)</span></label></th>

                <td><select name="ban_type" style="width: 15%" id="yop-poll-bans-type">

                    <option id="choose-option-type"  value="">{{__( 'Choose Ban Type' )}} </option>

                    <option value="ip">{{__( 'Ip' ) }}</option>

                    <option value="username">{{__( 'Username' ) }} </option>

                    <option value="email">{{__( 'Email' ) }}</option></select>

                </td>



            </tr>

            <tr class="form-field form-required">

                <th scope="row"><label for="yop-poll-ban-period" value="">{{__( 'Period&Unit' )}} <span

                        class="description">(required)</span></label></th>

                <td><input type="text" id="yop-poll-ban-period"   style="width: 15%"  name="ban_period">

                    </input>

                    <select id="yop-poll-bans-unit" name="ban_unit"  style="width: 15%;align:left">

                        <option  value="">{{__( 'Choose Unit' )}} </option>

                        <option value="hours">{{__( 'Hours' ) }}</option>

                        <option value="days">{{__( 'Days' ) }} </option>

                        <option value="weeks">{{__( 'Weeks' ) }}</option>

                        <option value="months">{{__( 'Months' ) }}</option>

                    </select> </td>

            </tr>





            <tr class="form-field form-required">

                <th scope="row"><label for="yop-poll-ban-value">{{__( 'Value' )}}

                                        <span

                                                class="description">(required)</span><br> <small><i>{{__( 'One Value Per Line' ) }}</i></small></label></th>

                <td><textarea rows="5" cols="5" style="width: 32%" id="yop-poll-ban-value"

                              name="ban_value" value=""></textarea></td>

            </tr>

            </tbody>

        </table>

        <p class="submit">

            <input  id="add-new-ban" type="submit" value="{{__( 'Add Ban') }} "

                    class="button-primary"/> <input id="yop-poll-add-ban-close"

                                                    type="button" value="{{__( 'Close' )}} "

                                                    class="button-primary">



        </p>

    </form>

</div>

<form method="post" action="">

{{ wp_nonce_field( 'yop-poll-bans', 'yop-poll-ban', false, false ) | raw}}



<input type="hidden" name="order" value="{{ order }}"/>

<input type="hidden" name="orderby" value="{{ orderby }}"/>

<input type="hidden" name="page" value="yop-polls-bans"/>



<p class="search-box">



    <label class="screen-reader-text" for="yop-poll-search-input">{{__( 'Search Poll Bans' )}}</label>

    <input id="yop-poll-search-input" type="search"

           value="{% if  request.s is defined %}: {{ stripslashes(request.s) |e}} {% endif %} "

           name="s"/> <input id="search-submit" class="button" type="submit"

                             value="{{__( 'Search Poll Bans')}}" name=""/>

</p>



<div class="tablenav top">

    <div class="alignleft actions">

        <select name="action">

            <option selected="selected" value="-1">{{__( 'Bulk Actions')}}</option>

            <option value="delete">{{__( 'Delete' )}}</option>

        </select>

        <input type="submit"

               value="{{__( 'Apply' )}}"

               class="button-secondary action" id="doaction" name="">

    </div>

    <div class="alignleft actions">

        <select name="poll_id">

            <option value="">{{__( 'All Polls' )}}</option>

            {% if  count( yop_polls ) > 0 %}

            {% for yop_poll in yop_polls %}

            <option {{ selected( poll_id, yop_poll.ID )}}

            value="{{yop_poll.ID}}">{{yop_poll.poll_title}}</option>



            {%endfor%}{%endif%}



            ?>

        </select>

    </div>



    <div class="alignleft actions">

        <select name="type">

            <option value="">{{__( 'All Ban Types' )}}</option>

            <option {{ selected( 'ip', type )}} value="ip">{{__( 'IP' ) }}</option>

            <option {{ selected( 'username', type )}} value="username">{{__( 'Username' ) }}</option>

            <option {{ selected( 'email', type )}} value="email">{{__( 'Email' )}}</option>

        </select>

        <input type="submit"

               value="{{__( 'Filter' ) }}"

               class="button-secondary" id="post-query-submit" name="">

    </div>

    <div class="tablenav-pages one-page">
                 <span style="margin:0 16px 0 0;">
        <label for="yop-poll-items-per-page" class="displaying-num">{{__( 'Items Per Page' )}}

            :</label>

        <input id="yop-poll-items-per-page" type="text" name="per_page"

               value="{{per_page | raw}}"/> <input name="a" class="button-secondary"

                                                   value="{{__( 'Set' )}}" type="submit"/>&nbsp;&nbsp;
                               </span>
						<span class="displaying-num">{{count( bans ) }} / {{total_bans}}

                                {{__( 'Bans')}} </span>

        {{pagination | raw}}

    </div>

    <br class="clear">

</div>

<div  style="position:relative;">

<table class="wp-list-table widefat fixed" cellspacing="0">



<thead>

<tr>

    <th id="cb" class="manage-column column-cb check-column"

        style="width: 2%" scope="col"><input type="checkbox"></th>

    <th id="id"

        class="manage-column {{order_sortable.id}} {{order_direction_reverse.id}}"

        style="width: 5%" scope="col"><a

            href="{{ esc_url( add_query_arg( { 'orderby' : 'id', 'order' : order_direction.id } ) ) | raw }}">

        <span>{{__( 'ID')}}</span> <span

            class="sorting-indicator"></span>

    </a></th>

    <th id="name"

        class="manage-column {{order_sortable.name}} {{order_direction_reverse.name}}"

        style="width: 25%" scope="col"><a

            href="{{ esc_url( add_query_arg( { 'orderby' : 'name', 'order' : order_direction.name } ) ) | raw }}">

        <span>{{__( 'Poll Name' )}}</span> <span

            class="sorting-indicator"></span>

    </a></th>

    <th id="type"

        class="manage-column {{order_sortable.type}} {{order_direction_reverse.type}}"

        style="width: 25%" scope="col"><a

            href="{{ esc_url( add_query_arg( { 'orderby' : 'type', 'order' : order_direction.type } ) ) | raw }}">

        <span>{{__( 'Ban Type' )}}</span> <span

            class="sorting-indicator"></span>

    </a></th>

    <th id="value"

        class="manage-column {{order_sortable.value}} {{order_direction_reverse.value}}"

        style="width: 15%" scope="col"><a

            href="{{ esc_url( add_query_arg( { 'orderby' : 'value', 'order' : order_direction.value } ) ) | raw }}">



        <span>{{__( 'Ban value' )}}</span> <span



            class="sorting-indicator"></span>



    </a></th>   <th id="period"

                    class="manage-column {{order_sortable.type}} {{order_direction_reverse.type}}"

                    style="width: 15%" scope="col"><a

        href="{{ esc_url( add_query_arg( { 'orderby' : 'period', 'order' : order_direction.period } ) ) | raw }}">



    <span>{{__( 'Period' )}}</span> <span



        class="sorting-indicator"></span>



</a></th>

    </a></th>   <th id="unit"

                    class="manage-column {{order_sortable.type}} {{order_direction_reverse.type}}"

                    style="width: 15%" scope="col"><a

        href="{{ esc_url( add_query_arg( { 'orderby' : 'unit', 'order' : order_direction.unit } ) ) | raw }}">



    <span>{{__( 'Unit' )}}</span> <span



        class="sorting-indicator"></span>



</a></th>

</tr>

</tr>





</thead>

{% set i=0%}

{% if count( bans ) > 0 %}

{% for ban in bans %}

{% set confirm_value ="{{__('You are about to remove this poll ban')}}"%}

<tbody id="the-list">

<tr valign="middle" class="alternate"

    id="yop-poll-log {{ban.name}}">

    <th class="check-column" scope="row"><input type="checkbox"

                                                value="{{ban.id}}" name="yoppollbanscheck[]"></th>

    <td><strong>{{ban.id }}</strong><br></td>

    <td><strong>{{ stripslashes(ban.name) |e}}</strong><br>

        <div class="row-actions">

				<span class="delete">

                    <a	onclick="return confirm( '{{ __( "You are about to delete this ban" ) }}: {{ ban.poll_title }} \n{{ __( "Cancel" ) }} {{ __( "to stop" ) }}, {{ __( "OK" ) }} {{ __( "to delete" ) }}' )"

                      href="{{ wp_nonce_url( add_query_arg( {  'action' : 'delete', 'id' : ban.id } ) ,'yop-poll-bans', 'yop-poll-ban') | raw }}"

                            >{{__('Delete')}}



                    </a>

                </span>

				<span class="edit">

                    {% set id_poll= ban.id %}      {% set ban_type= ban.type %}

                     <a      name="edit_ban"

                             id="yop-poll-edit-ban-{{ban.id}}"

                             value="{{ban.id}}"

                             href="javascript:edit_yopp_ban ({{id_poll}}, {{ban.poll_id}},'{{ban_type}}',{{ban.period}},'{{ban.unit}}','{{ban.value}}' ); "

                             >{{__('Edit')}}

                     </a>



                </span>



        </div></td>

    <td>

        {{ stripslashes(ban.type) |e}}



    </td>

    <td>

        {{ stripslashes(ban.value) |e}}

    </td> <td>

    {{ stripslashes(ban.period) |e}}

</td>

    <td>

        {{ stripslashes(ban.unit) |e}}

    </td>

</tr>

</tbody>

{%set i=i+1%}

{% endfor %}

{% endif%}

</table>

</div>

<div class="tablenav bottom">

    <div class="tablenav-pages one-page" >

						<span class="displaying-num">{{ count( bans )}} / {{total_bans}}

                                {{__( 'Bans' )}} </span>

        {{pagination | raw}}

    </div>

</div>

</form>







{% endblock content %}