{% extends "polls_base.html" %}


{% block message %}
{%if message.error!= ""%}
<div id="message" class="error">{{ message.error}}</div>
{% else %}
{%if message.success != "" %}
<div id="message" class="updated">{{ message.success}}</div>
{% endif %}
{% endif%}
{%endblock message %}
{% block content%}

<form method="get" action="">
    {{ wp_nonce_field( 'yop-poll-import', 'yop-poll-imports', false,false ) | raw}}

    <input type="hidden" name="order" value="{{ order }}"/>
    <input type="hidden" name="orderby" value="{{ orderby }}"/>
    <input type="hidden" name="page" value="yop-polls-imports"/>

    <p class="search-box">

        <label class="screen-reader-text" for="yop-poll-search-input">{{__( 'Search WP-Polls' )}}</label>
        <input id="yop-poll-search-input" type="search"
               value="{% if  request.s is defined %}: {{ stripslashes(request.s) |e}} {% endif %} "
               name="s"/> <input id="search-submit" class="button" type="submit"
                                 value="{{__( 'Search Wp Polls')}}" name=""/>
    </p>


    <br>
    <div class="tablenav top">
        <div class="alignleft actions">
            <select name="action">

                <option selected="selected" value="-1">{{ __('Bulk Actions') }}</option>
                <option value="import">{{ __('Import') }}</option>

            </select>
            <input type="submit" value="{{ __('Apply') }}" class="button-secondary action" id="doaction" name="">
        </div>
        <div class="clear">
        </div>

        <div class="tablenav-pages one-page" style="float: right; margin-right: 2px">
            <label for="yop-poll-items-per-page" class="displaying-num">{{__( 'Items Per Page' )}}
                :</label>
            <input id="yop-poll-items-per-page" type="text" name="per_page"
                   value="{{per_page | raw}}"/>
            <input name="a" class="button-secondary" value="{{__( 'Set' )}}" type="submit"/>&nbsp;&nbsp;
						<span class="displaying-num">{{count( wp_polls ) }} / {{total_polls}}
                                {{__( 'Wp-Polls')}} </span>
            {{pagination | raw}}
        </div>
        <br class="clear">
        <div  style="position:relative;">
            <table class="wp-list-table widefat fixed" cellspacing="0">

                <thead>
                <tr>
                    <th id="cb" class="manage-column column-cb check-column"
                        style="width: 2%" scope="col"><input type="checkbox"></th>

                    <th id="name"
                        class="manage-column {{order_sortable.pollq_question}} {{order_direction_reverse.pollq_question}}"
                        style="width: 25%" scope="col"><a
                            href="{{ esc_url( add_query_arg( { 'orderby' : 'pollq_question', 'order' : pollq_question} ) ) | raw }}">
                        <span>{{__( 'Title' )}}</span> <span
                            class="sorting-indicator"></span>
                    </a></th>
                    <th id="type"
                        class="manage-column {{order_sortable.pollq_totalvoters}} {{order_direction_reverse.pollq_totalvoters}}"
                        style="width: 25%" scope="col"><a
                            href="{{ esc_url( add_query_arg( { 'orderby' : 'pollq_totalvoters', 'order' : order_direction.pollq_totalvoters } ) ) | raw }}">
                        <span>{{__( 'Total Votes' )}}</span> <span
                            class="sorting-indicator"></span>
                    </a></th>
                    <th id="value"
                        class="manage-column {{order_sortable.value}} {{order_direction_reverse.value}}"
                        style="width: 15%" scope="col">

                        <span>{{__( 'Start Date' )}}</span> <span

                            class="sorting-indicator"></span>

                        </a></th>   <th id="period"
                                        class="manage-column {{order_sortable.type}} {{order_direction_reverse.type}}"
                                        style="width: 15%" scope="col">
                    <span>{{__( 'End Date' )}}</span><span

                        class="sorting-indicator"></span>

                    </a></th>

                </tr>
                </tr>


                </thead>
                {% set i=0%}
                {% if count( wp_polls ) > 0 %}
                {% for wp_poll in wp_polls %}
                <tbody id="the-list">
                <tr valign="middle" class="alternate"
                    id="yop-poll-log {{wp_poll.pollq_id}}">
                    <th class="check-column" scope="row"><input type="checkbox"
                                                                value="{{wp_poll.pollq_id}}" name="yoppollwppollcheck[]"></th>
                    <td><strong>{{ stripslashes(wp_poll.pollq_question) |e}}</strong><br>
                        <div class="row-actions">
				<span class="delete">
                    <a	onclick="return confirm( '{{ __( "You are about to import this poll" ) }}: {{ wp_poll.pollq_question }} \n{{ __( "Cancel" ) }} {{ __( "to stop" ) }}, {{ __( "OK" ) }} {{ __( "to import" ) }}' )"
                      href="{{ wp_nonce_url( add_query_arg( {  'action' : 'import', 'id' : wp_poll.pollq_id } ) ,'yop-poll-import', 'yop-poll-imports') | raw }}"
                            >{{__('Import')}}

                    </a>
                </span>


                        </div></td>
                    <td>
                        {{ stripslashes(wp_poll.pollq_totalvotes) |e}}

                    </td>
                    <td>
                        {{ stripslashes(wp_poll.pollq_timestamp) |e}}
                    </td> <td>
                    {{ stripslashes(wp_poll.pollq_expiry) |e}}
                </td>

                </tr>
                </tbody>
                {%set i=i+1%}
                {% endfor %}
                {% endif%}
            </table>
        </div>
        <div class="tablenav bottom">
            <div class="tablenav-pages one-page" >
						<span class="displaying-num">{{ count( wp_polls )}} / {{total_polls}}
                                {{__( 'Wp-polls' )}} </span>
                {{pagination | raw}}
            </div>
        </div>
</form>
{%endblock content%}