{% extends "polls_base.html" %}
{% block message %}
{%if message.error!= ""%}
<div id="message" class="error">{{ message.error}}</div>
{% else %}
{%if message.success != "" %}
<div id="message" class="updated">{{ message.success}}</div>
{% endif %}
{% endif%}
{%endblock message %}
{%block content%}
<div style="position: relative">
<form method="get" action="">
{{ wp_nonce_field( 'yop-poll-logs','yop-poll-log', false, false ) | raw }}
<div style="position: relative">
    <input type="hidden" name="order" value="{{order}}"/>
    <input type="hidden" name="orderby" value="{{orderby}}"/>
    <input type="hidden" name="page" value="yop-polls-logs"/>
    <p class="search-box">
        <label class="screen-reader-text" for="yop-poll-search-input">{{__( 'Search Poll Logs')}}</label>
        <input id="yop-poll-search-input" type="search"
               value="{%if request.s  %}{{esc_html( stripslashes( request.s ))}}{%endif%}"
               name="s"/> <input id="search-submit" class="button" type="submit"
                                 value="{{__( 'Search Poll Logs')}}" name=""/>
    </p>

</div>
<div class="tablenav top">
    <div class="alignleft actions">
        <select name="action">
            <option selected="selected" value="-1">{{__( 'Bulk Actions')}}</option>
            {% if group_by == 'vote' %}
            <option value="delete_group">{{__( 'Delete')}}</option>
            {% else %}
            <option value="delete">{{__( 'Delete')}}</option>
            {%endif%}
        </select> <input type="submit"
                         value="{{__( 'Apply')}}"
                         class="button-secondary action" id="doaction" name=""><span style="line-height: 2em;">&nbsp;|&nbsp;</span>
    </div>
    <div class="alignleft actions">
        <select name="poll_id">
            <option value="-1">{{__( 'All Logs')}}</option>
            {% if count( yop_polls ) > 0 %}
            {% for  yop_poll in yop_polls%}
            <option  {{ selected( poll_id, yop_poll.ID )}}
            value="{{yop_poll.ID}}">{{yop_poll.poll_name}}</option>
            {%endfor%}
            {%endif%}
        </select>
        <label for="yop-poll-logs-start-date-input">{{__( 'Start Date')}}
            :</label>
        <input  id="yop-poll-logs-start-date-input" class="hasDatePicker" style="margin-top:3px" type="text"
                name="log_sdate" value="{{log_sdate}}"/>&nbsp;&nbsp; <label
            for="yop-poll-logs-end-date-input">{{( 'End Date')}}
    </label>

        <input id="yop-poll-logs-end-date-input" type="text"  class="hasDatePicker"
               name="log_edate" value="{{log_edate}}"/>&nbsp;&nbsp;
        <input
                type="submit" value="{{( 'Filter')}}"
                class="button-secondary" id="post-query-submit" name="">&nbsp;|&nbsp;
    </div>
    <div class="alignleft actions">
        <select name="export">
            <option value="page">{{__( 'This Page')}}</option>
            <option value="all">{{( 'All Pages')}}</option>

        </select>
        <select name="page_no" hidden="true">
            <option value="{{page_no}}">{{__( 'This Page')}}</option>
        </select>

        <input type="submit"
               value="{{__( 'Export')}}"
               class="button-secondary action" id="doaction" name="a">
        &nbsp;&nbsp;&nbsp;

    </div>
    <div class="tablenav-pages one-page" >
                <span style="margin:0 19px 0 0; ">
                <label for="yop-poll-items-per-page" class="displaying-num">{{( 'Items Per Page')}}
                    :</label>
                <input id="yop-poll-items-per-page" type="text" name="per_page"
                       value="{{per_page}}"/> <input name="a" class="button-secondary"
                                                     value="{{__( 'Set')}}" type="submit"/>&nbsp;&nbsp;
					</span>	<span class="displaying-num"  >{{count( logs )}} / {{total_logs}}
                                                                                   logs</span>
        {{pagination | raw}}
    </div>
    <br class="clear">
</div>
<table class="wp-list-table widefat fixed" cellspacing="0">
    <thead>
    <tr>
        <th id="cb" class="manage-column column-cb check-column"
            style="width: 4%;" scope="col"><input type="checkbox"></th>


        </a></th>   <th id="period"
                        class="manage-column {{order_sortable.vote_id}} {{order_direction_reverse.vote_id}}"
                        style="width: 15%" scope="col"><a
            href="{{ esc_url( add_query_arg( { 'orderby' : 'vote_id', 'order' : order_direction.vote_id } ) ) | raw }}">

        <span>{{__( 'Vote ID')}}</span> <span

            class="sorting-indicator"></span>

    </a></th>
        <th id="name"
            class="manage-column {{order_sortable.name}} {{order_direction_reverse.name}}"
            style="width: 20%" scope="col">
            <span>{{__( 'Poll Title')}}</span>
            </a></th>
        <th id="total_votes"
            class="manage-column {{order_sortable.answer}} {{order_direction_reverse.answer}}"
            style="width: 18%" scope="col">
            <span>{{( 'Vote Details' )}}</span> </span>
            </a></th>
        <th id="user_from"
            class="manage-column {{order_sortable.user_from}} {{order_direction_reverse.user_from}}"
            style="width: 10%" scope="col">
            <span>{{__( 'User Type')}}</span>
            </a></th>
        <th id="user_nicename"
            class="manage-column {{order_sortable.user_nicename}} {{order_direction_reverse.user_nicename}}"
            style="width: 10%" scope="col">
            <span>{{( 'User' )}}</span>
            </a></th>
        <th id="user_email"
            class="manage-column {{order_sortable.user_email}} {{order_direction_reverse.user_email}}"
            style="width: 10%" scope="col">
            <span>{{( 'User Email')}}</span>
            </a></th>
        <th id="tr_id"
            class="manage-column {{order_sortable.tr_id}} {{order_direction_reverse.tr_id}}"
            href="{{esc_url( add_query_arg( array( {'orderby' : 'tr_id', 'order' : order_direction.tr_id}  ) ) )}}"
            style="width: 10%" scope="col">
            <span>{{( 'Tracking ID')}}</span>
            </a></th>
        <th id="ip"
            class="manage-column {{order_sortable.ip}} {{order_direction_reverse.ip}}"
            style="width: 5%" scope="col">
            <span>{{__( 'Ip' )}}</span>
            </a></th>



        </a></th>   <th id="period"
                        class="manage-column {{order_sortable.vote_date}} {{order_direction_reverse.vote_date}}"
                        style="width: 15%" scope="col"><a
            href="{{ esc_url( add_query_arg( { 'orderby' : 'vote_date', 'order' : order_direction.vote_date } ) ) | raw }}">

        <span>{{__( 'Vote Date')}}</span> <span

            class="sorting-indicator"></span>
    </a></th>
        <th id="message"
            class="manage-column {{order_sortable.ip}} {{order_direction_reverse.ip}}"
            style="width: 15%" scope="col">
            <span>{{__( 'Message' )}}</span>
            </a></th>
    </tr>
    </thead>
    {% if  count( logs ) > 20 %}
    <tfoot>
    <tr>
        <th id="cb" class="manage-column column-cb check-column"
            style="width: 2%;" scope="col"><input type="checkbox"></th>

        <th id="id"
            class="manage-column {{order_sortable.vote_id}} {{order_direction_reverse.vote_id}}"
            style="width: 38%;" scope="col"><a
                href="{{ esc_url( add_query_arg( { 'orderby' : 'vote_id', 'order' : order_direction.vote_id} ) ) | raw }}">
            <span>{{__( 'Vote ID')}}</span> <span
                class="sorting-indicator"></span>
        </a></th>
        <th id="name"
            class="manage-column {{order_sortable.name}} {{order_direction_reverse.name}}"
            style="width: 20%" scope="col">
            <span>{{__( 'Poll Title')}}</span>
            </a></th>
        <th id="total_votes"
            class="manage-column {{order_sortable.answer}} {{order_direction_reverse.answer}}"
            style="width: 18%" scope="col">
            <span>{{( 'Vote Details' )}}</span> </span>
            </a></th>
        <th id="user_from"
            class="manage-column {{order_sortable.user_from}} {{order_direction_reverse.user_from}}"
            style="width: 10%" scope="col">
            <span>{{__( 'User Type')}}</span>
            </a></th>
        <th id="user_nicename"
            class="manage-column {{order_sortable.user_nicename}} {{order_direction_reverse.user_nicename}}"
            style="width: 10%" scope="col">
            <span>{{( 'User' )}}</span>
            </a></th>
        <th id="user_email"
            class="manage-column {{order_sortable.user_email}} {{order_direction_reverse.user_email}}"
            style="width: 10%" scope="col">
            <span>{{( 'User Email')}}</span>
            </a></th>
        <th id="tr_id"
            class="manage-column {{order_sortable.tr_id}} {{order_direction_reverse.tr_id}}"
            href="{{esc_url( add_query_arg( array( {'orderby' : 'tr_id', 'order' : order_direction.tr_id}  ) ) )}}"
            style="width: 10%" scope="col">
            <span>{{( 'Tracking ID')}}</span>
            </a></th>
        <th id="ip"
            class="manage-column {{order_sortable.ip}} {{order_direction_reverse.ip}}"
            style="width: 5%" scope="col">
            <span>{{__( 'Ip' )}}</span>
            </a></th>
        <th id="vote_date"
            class="manage-column {{order_sortable.vote_date}} {{order_direction_reverse.vote_date}}"
            style="width: 10%" scope="col"><a
                href="{{ esc_url( add_query_arg( { 'orderby' : 'vote_date', 'order' : order_direction.vote_date}  ) ) | raw }}">
            <span>{{__( 'Vote Date')}}</span> <span
                class="sorting-indicator"></span>

        </a></th>
        </th>
        <th id="message"
            class="manage-column {{order_sortable.ip}} {{order_direction_reverse.ip}}"
            style="width: 15%" scope="col">
            <span>{{__( 'Message' )}}</span>
            </a></th>
    </tr>
    </tfoot>
    {%endif%}
    {% if  count( logs ) > 0 %}
    {% for log in logs %}

    <tbody id="the-list">
    <tr valign="middle" class="alternate"
        id="yop-poll-log{{log.id}}">
        <th class="check-column" scope="row">
            {% if group_by == 'vote' %}

            <input type="checkbox" value="{{log.ID}}"
                   name="yoppolllogscheck[]">

            {%endif%}

        </th>
        <td><strong>{{log.vote_id}}</strong><br></td>
        <td><strong>  {{esc_html( stripslashes( log.name ) )}}
            <br>
            <div class="row-actions">
                {%if group_by == 'vote'%}

                                                    <span class="delete"><a
                                                         <a	onclick="return confirm( '{{ __( "You are about to delete this vote log" ) }}: {{ __( "Cancel" ) }} {{ __( "to stop" ) }}, {{ __( "OK" ) }} {{ __( "to delete" ) }}' )"
                                                            href="{{ wp_nonce_url( add_query_arg( array ({ 'action' : 'delete_group', 'id' : log.ID }) ),'yop-poll-logs','yop-poll-log' ) | raw }}"
                                                            class="submitdelete">{{__( 'Delete')}}</a></span>


                {%endif%}
            </div></td>
        <td>


            {{esc_html( stripslashes(log.answer) )}}


        </td>
        <td>
            {{esc_html( stripslashes( log.user_type ))}}
        </td>
        <td>
            {{esc_html( stripslashes( log.user_nicename ))}}
        </td>
        <td>
            {{esc_html( stripslashes( log.user_email ))}}
        </td>
        <td>
            {{esc_html( stripslashes( log.tr_id ))}}
        </td>
        <td>
            {{esc_html( stripslashes( log.ip ))}}
        </td>
        <td>
            {{esc_html( stripslashes( convert_date(log.vote_date,date_format) ))}}
        </td>
        <td>
            {{esc_html( stripslashes( log.message ))}}
        </td>
    </tr>
    </tbody>
    {%endfor%}
    {%endif%}
</table>
<div class="tablenav bottom">
    <div class="tablenav-pages one-page">
						<span class="displaying-num">{{count( logs )}} / {{total_logs}}
                                                                                   logs</span>
        {{pagination | raw}}
    </div>
</div>


</form>
</div>
<div style="position: absolute">

</div>



{%endblock content%}