
{% extends "polls_base.html" %}

{% block content %}
<body onload="init()" id="body_hidden">
{% from "form_macros.html" import yop_poll_general_options_label as label  %}

{% from "form_macros.html" import yop_poll_input_field as input  %}

{% from "form_macros.html" import yop_poll_select as select  %}

<form method="post" style="visibility: hidden" name="yop_poll_edit_add_new_form" id="yop-poll-edit-add-new-form">
<div class="" id="yop_poll_show_shortcode" style="display:none;text-align: center;padding: 12px;">

                            <span> {{ __( 'Use this shortcode to display your poll' ) }}:<br>  <br>

                                <input style="text-align: center" id="yop_poll_shortcode_input" type="text" value='' readonly="readonly">

                            </span>

    </div>
    {{ wp_nonce_field( 'yop-poll-add-edit-action', 'yop-poll-add-edit-name', false, false ) | raw }}

    {% if ( 'edit' == action_type ) %}



    {% endif %}



    <div id="poststuff">

        <div id="post-body" class="metabox-holder columns-2">

            <div class="meta-box-sortables ui-sortable" id="normal-sortables">

                <div id="post-body-content">

                    <div class="yop-poll-titlediv">

                        <div class="yop-poll-titlewrap">

                            {% if ( 'edit' != action_type ) %}
                            <label for="yop-poll-title" class="yop-poll-title-prompt-text">{{ __( 'Enter Poll Title Here') }}</label>
                            {%endif%}
                            <input type="text" id="yop-poll-title" class="yop-poll-title" value="{{ current_poll.poll_title }}" size="30" name="poll_title" autofocus="true">


                        </div><!-- titlewrap -->

                    </div><!-- titlediv -->

                    <hr class="yop-poll-sections-delimiter"/>

                </div><!-- post-body-content -->



                <div class="postbox-container" id="postbox-container-1">

                    <div id="submitdiv" class="postbox stuffbox">

                        <div title="Click to toggle" class="handlediv"><br></div>

                        <h3 class="hndle">

                            <span>Tools </span>

                        </h3>

                        <div class="inside">

                            <div id="submitpost" class="submitbox">

                                <div id="minor-publishing">

                                    <div id="misc-publishing-actions">

                                        <div class="misc-pub-section">

                                            <input tabindex="200" type="button" class="button-primary" value="Preview"

                                                   onclick="yop_poll_preview_add_edit()">

                                            <div id="yop-poll-spinner" class="spinner"

                                                 style="display: none; float: left;"></div>

                                        </div>

                                        <div class="misc-pub-section">

                                            <input type="hidden" value="{{ current_poll.ID }}" name="poll_id"/>

                                            <input type="hidden" value="{{ action_type }}" name="action_type"/>

                                            <input tabindex="200" type="button" accesskey="p" class="button-primary"

                                                   value="{{ __('Save') }}" id="yop-poll-edit-add-new-form-submit"

                                                   onclick="save_poll()"/>

                                        </div>

                                    </div>

                                </div>

                                <div class="clear"></div>

                            </div>

                        </div>

                    </div>

                </div><!-- postbox-container-1 -->

                <!-- Start Wizard Panel -->

                <div id="yop-poll-wizard" class="swMain">

                    <ul class="steps">

                        <li><a tabindex="199" href="#step-1">{{ __( 'Questions & Answers' ) }}</a></li>

                        <li><a tabindex="199" href="#step-2">{{ __( 'Templates' ) }}</a></li>

                        <li><a tabindex="199" href="#step-3">{{ __( 'Poll Options' ) }}</a></li>

                        <li><a tabindex="199" href="#step-4">{{ __( 'Result Options' ) }}</a></li>

                        <li><a tabindex="199" href="#step-5">{{ __( 'Shortcode' ) }}</a></li>

                    </ul>

                    <!-- End Wizard Panel -->

                    <div class="postbox-container" id="postbox-container-2">

                        <div class="step-pane active" id="step-1">

                            {% include 'polls_add_edit_questions.html' %}

                        </div>



                        <div class="step-pane" id="step-2">

                            {% include 'polls_add_edit_template.html' %}

                        </div>



                        <div class="step-pane" id="step-3">

                            {% include 'polls_add_edit_options.html' %}

                        </div>



                        <div class="step-pane" id="step-4">

                            {% include 'polls_add_edit_results_options.html' %}

                        </div>

                        <div class="step-pane" id="step-5" style="text-align: center;padding: 12px;">

                            <span> {{ __( 'Use this shortcode to display your poll' ) }}:

                                <input  style="text-align: center" id="yop_poll_shortcode" type="text" value='[yop_poll id="{{ current_poll.ID }}"]' readonly="readonly">

                            </span>

                        </div>

                        <div class="clear"></div>

                    </div>

                </div><!-- postbox-container-2 -->

            </div>

        </div><!-- post-body -->

    </div><!-- poststuff -->

    <div  id="yop-poll-dialog">

    </div>

</form>
<body>
<div id="loading" style="position:absolute; margin-left: 500px; text-align:justify;
    top:300px;">   <br>  <br>
    <span style="position: static; float:left;margin-left: -15px;">Please wait...</span>

</div>

{% endblock content %}
