{% extends "polls_base.html" %}

{%block addnew%}


<input  id="add-new-vote" type="button"  value="{{__( 'Add Vote(s)') }} " class="button-primary" onclick="show_poll_to_vote();"/>

{%endblock addnew%}

{% block message %}

{%if message.error!= ""%}

<div id="message" class="error">{{ message.error}}</div>

{% else %}

{%if message.success != "" %}

<div id="message" class="updated">{{ message.success}}</div>

{% endif %}

{% endif%}

{%endblock message %}

{%block content%}


<div class = "wrap" style = "position: relative;">

{% if  poll_details %}







<form method="post" action=""  style="display:none;" class="yop_poll_pro_feature">
    {{ wp_nonce_field('yop-poll-before-buy')|raw }}

    <div class="inside yop-poll-slider">

        <div class="yop-poll-slider-container">

            <div class="yop-poll-buy-slider" id="yop-poll-buy-template-slider" style="width: 600px;">

                <ul>

                    <li id="yop-poll-buy-template-1"style="margin-left:12px;margin-right:2px ;width:582px;"

                        class=' yop-poll-buy-template-li '>
                        <p style="margin: 0 auto; text-align: center">
                            {{ __('Multiple questions')}}
                        </p><br>
                        <img src="{{poll_url}}images/image_two.jpg"/> <br><br>
                        <div style="text-align: center">
                            <strong>{{ __ ('Want your visitors\' opinion on more than a topic?') }}<br>
                                {{__('No need to create a new poll every time.
                                YOP Poll Pro allows you to add as many questions as you want within a single poll.') }}</strong><br></div>
                    </li>
                    <li id="yop-poll-buy-template-2"style="margin-left:2px;margin-right:2px  ;width:582px;"

                        class=' yop-poll-buy-template-li '>
                        <p style="margin: 0 auto; text-align: center">
                            {{ __('Media Questions')}}
                        </p><br>
                        <img src="{{poll_url}}images/image_three.jpg"/> <br><br>
                        <div style="text-align: center">
                            <strong>{{ __ ('Want to run a media poll?') }}<br>
                                {{ __ ('Simply add your images or videos and you\'r all set.
                                Can\'t get any easier than this.') }}</strong><br></div>
                    </li>
                    <li id="yop-poll-buy-template-3"style="margin-left:2px;margin-right:2px  ;width:582px;"

                        class=' yop-poll-buy-template-li '>
                        <p style="margin: 0 auto; text-align: center">
                            {{ __('Facebook/Google+')}}
                        </p><br>
                        <img src="{{poll_url}}images/image_four.jpg"/> <br><br>
                        <div style="text-align: center">
                            <strong>{{ __ ('YOP Poll Pro integrates with facebook and google+.
                                Let your friends vote with their facebook or google+ account.') }}
                            </strong></div>
                    </li>
                    <li id="yop-poll-buy-template-4"style="margin-left:2px;margin-right:2px  ;width:582px;"

                        class=' yop-poll-buy-template-li '>
                        <p style="margin: 0 auto; text-align: center">
                            {{ __('New Templates')}}
                        </p><br>
                        <img src="{{poll_url}}images/image_five.jpg"/> <br><br>
                        <div style="text-align: center">
                            <strong>{{ __ ('Tired of the old templates?') }}<br>
                                {{ __ ('We\'ve added new ones. Much better looking.') }}
                                {{ __ ('And easy to edit to') }}<br>
                                {{ __ ('match your website look.') }}</strong><br></div>
                    </li>
                    <li id="yop-poll-buy-template-5"style="margin-left:2px;margin-right:2px  ;width:582px;"

                        class=' yop-poll-buy-template-li '>
                        <p style="margin: 0 auto; text-align: center">
                            {{__(' Stats')}}
                        </p><br>
                        <img src="{{poll_url}}images/image_six.jpg"/> <br><br>
                        <div style="text-align: center">
                            <strong>{{ __ ('Get the most info out of your voters with our built in reporting tool.') }}</strong><br></div>
                    </li>
                    <li id="yop-poll-buy-template-6"style="margin-left:2px;margin-right:2px  ;width:582px;"

                        class=' yop-poll-buy-template-li '>
                        <p style="margin: 0 auto; text-align: center">
                            {{__(' Premium support')}}
                        </p><br>
                        <img src="{{poll_url}}images/image_seven.jpg"/> <br><br>
                        <div style="text-align: center">
                            <strong>{{ __ ('Havin a hard time integrating yop poll with your website?') }}
                                {{ __(' We\'\ re one email distance.') }}</strong><br>
                        </div>
                    </li>

                </ul>

            </div>

            <!-- Prev/next controls -->

            <a href="javascript:void(0)"

               class="yop-poll-buy-slider-control-prev">&lsaquo;</a>

            <a href="javascript:void(0)"

               class="yop-poll-buy-slider-control-next">&rsaquo;</a>

            <!-- Pagination -->



            <!-- Close button -->

            <p style="text-align:center; font-weight: bold; font-size: 16px">

                <input type = "hidden" name = "action" value = "do-buy">

                <input type = "submit" name = "do_buy" class = "button-primary" value = "Upgrade to Pro for only $17">
            </p>



        </div>

    </div>
</form>

<form style="display: none;text-align:center;font-size: 20px;font-weight: bold;" class="yop_poll_buy_pro" method="post" action="">
    <div >
        <p>Please buy pro version to use this feature!</p>
        <input type = "hidden" name = "action" value = "do-buy">

        {{ wp_nonce_field('yop-poll-before-buy')|raw }}
        <input type = "submit" name = "do_buy" class = "button-primary" value = "Do Buy" onclick = "if(!confirm('Are you sure?')) return false;">
    </div>
</form>


<div id="yop-poll-add-ban-div-dialog" style="display: none;width: 500px" >


<form   method="post" id="add-edit-ban_votes">
     <div id="error_ban" style="color: red;text-align: center"></div>
      <div id="success_ban" style="color: green;text-align: center;"></div>
    <p>{{__( 'Ban: IP, UserID' ) }}</p>
    <input type="hidden" name="retain_id"value="{{poll_id}}">


        {{ wp_nonce_field( 'yop-poll-add-edit-ban', 'yop-poll-add-edit-ban', false, false ) | raw }}

        <input type="hidden" name="index" value="0"/>





        <table class="form-table">

            <tbody>

            <tr class="form-field form-required">

                <th scope="row"><label for="yop-poll-name">{{__( 'Poll' ) }} <span

                        class="description">(required)</span></label></th>

            <td>{{poll_title}}</td>

                       </tr>

                </tr>

                <tr class="form-field form-required">

                <th scope="row"><label for="yop-poll-type">{{__( 'Type' )}} <span

                        class="description">(required)</span></label></th>

                <td><select name="ban_type" style="width: 63%" id="yop-poll-bans-type">

                    <option id="choose-option-type"  value="">{{__( 'Choose Ban Type' )}} </option>

                    <option value="ip">{{__( 'Ip' ) }}</option>

                    <option value="userid">{{__( 'UserID' ) }} </option>

                </td>



            </tr>

            <tr class="form-field form-required">

                <th scope="row"><label for="yop-poll-ban-period" value="">{{__( 'Period&Unit' )}} <span

                        class="description">(required)</span></label></th>

                <td><input type="text" id="yop-poll-ban-period"   style="width: 20%"  name="ban_period" >

                    </input>
                    <select id="yop-poll-bans-unit" name="ban_unit" style="width: 40% ">

                    <option  value="">{{__( 'Choose Unit' )}} </option>

                    <option value="hours">{{__( 'Hours' ) }}</option>

                    <option value="days">{{__( 'Days' ) }} </option>

                    <option value="weeks">{{__( 'Weeks' ) }}</option>

                    <option value="months">{{__( 'Months' ) }}</option>

                </select>
</td>
            </tr>







            <tr class="form-field form-required">

                <th scope="row"><label for="yop-poll-ban-value">{{__( 'Value' )}}

                                        <span

                                                class="description">(required)</span><br> <small><i>{{__( 'One Value Per Line' ) }}</i></small></label></th>

                <td><textarea rows="5" cols="30" id="yop-poll-ban-value"

                              name="ban_value" value=""></textarea></td>

            </tr>

            </tbody>

        </table>

        <p class="submit">

            <input  id="add-new-ban" onclick="add_bans()" value="{{__( 'Add Ban') }} " type="button"

                    class="button-primary"/> <input id="yop-poll-add-ban-close"

                                                    type="button" value="{{__( 'Close' )}} "

                                                    class="button-primary">



        </p>

    </form>

</div>
<form method = "get">
    <input type = "hidden" name = "page" value = "yop-polls"/>
    <input type = "hidden" name = "action" value = "resultvotes"/>
    <input type = "hidden" name = "id" value = "{{poll_id}}"/>
    <input type = "hidden" name = "oa_page_no" value = "{{oa_page_no}}"/>
    <input type = "hidden" name = "cf_page_no" value = "{{cf_page_no}}"/>
    <input type = "hidden" name = "oa_per_page" value = "{{oa_per_page}}"/>
    <div class = "tablenav top">
        <div class = "alignleft actions">
            <div style = "display:inline; float:left; margin:7px;">{{__( 'Order By' )}}</div>
            <select name = "results_order_by">
                <option {{selected( results_order_by, 'answer' )}} value="answer">{{__( 'Answer Value' )}}</option>
                <option {{ selected( results_order_by, 'votes' )}} value="votes">{{__( 'Votes' )}}</option>
            </select>
            <select name = "results_order">
                <option {{ selected( results_order, 'ASC' )}} value="ASC">{{__( 'ASC' )}}</option>
                <option {{ selected( results_order, 'DESC' )}} value="DESC">{{__( 'DESC' )}}</option>
            </select>
            <span style="line-height: 2.1em;">&nbsp;| &nbsp;</span>

            <input style="margin-bottom: -7px;" type = "checkbox" value = "yes" {{checked( soav, 'yes' )}} name="soav" id="yop-poll-show_other_answers_values"/>
            <label for = "yop-poll-show_other_answers_values">{{__( 'Show Other Answers Values')}}</label>

            <input type = "submit"
                   value = "{{__( 'Filter' )}}"
                   class = "button-secondary action" id = "doaction" name = "a">
        </div>
    </div>
</form>


<div style="position: relative">

    <form method="post" style="display: none" id="yop_poll_add_votes">

        {{ wp_nonce_field( 'yop-poll-results_vote_add_vote','yop-poll-results_votes_add_votes', false, false ) | raw }}
        <input style="display: none" name="poll_id" value="{{poll_id}}">
        <input type="hidden" id="index_ban_div" value=""/>
      <div id="error" style="color: red;text-align: center;font-size: 17px"></div>
      <div id="success" style="color: green;text-align: center;font-size:17px "></div>
        <div >

            <h2 style="text-align: center   ">{{poll.poll_title}}</h2>

            {%set index=1%}

            {% for question in poll.questions %}

            <h4 style="text-align: center"  >{{__('Question')}}{{index}}{{__(': ')}} {{question.question}}</h4>

            {%set index=index+1%}
 <table style="margin-left: auto; margin-right: auto;">
     <tbody>
            {%for answer in question.answers%}
            <tr>
           <td> <input type="checkbox" value="{{answer.ID}}" class="checkboxes" id="yop-poll-answer-votes-{{answer.ID}}" name="yoppollresultsanswerscheck[{{ question.ID }}][]">
            <label for="yop-poll-answer-votes-{{answer.ID}}">
            {{answer.answer}}
                 </label>
                <span id="number_of_votes_{{answer.ID}}" >{{answer.votes}} </span> {{__('votes')}} -<td>
                <td><input type="text" name="yop_poll_no_of_votes_{{answer.ID}}_per_answer" id="yop_poll_no_of_votes_{{answer.ID}}_per_answer" value=""  style="width: 60px;display: table-cell;"><br>
               </td> </tr>
            {%endfor%}
     </tbody>
            </table>

            {%endfor%}

<div style="text-align:center" id="add_votes">
            <input  id="add-new-votes" onclick="add_votes()" style="margin-top: 30px" type="button" value="{{__( 'Add Vote(s)') }}"class="button-primary"/>
</div>
        </div>

    </form >



    <div id="container" style="overflow-x: hidden; "  ></div>

    <div id = "poststuff">
        <div id = "post-body" class = "metabox-holder columns-1">
            <div class = "meta-box-sortables ui-sortable">
                <div class = "postbox-container content">
                    {%set i=0%}
                    {% for question_detail in questions_details%}
                    {%set i=i+1%}
                    <div class = "postbox stuffbox">
                        <div title = "{{ __('Click to toggle') }}" class = "handlediv"><br/></div>
                        <h3 class = "hndle">
                                    <span>{{ __('Question') }}:
                                        <span class = "yop-poll-question-order-span">{{ question.poll_order }}</span>
                                        <span id = "yop-poll-question-{{ question_detail.q_id }}-summar">{{ esc_html( stripslashes( question_detail.name) )}}</span>
                                    </span>
                        </h3>

                        <div class = "inside" style = "padding: 0px;">
                            <div id = "poststuff">
                                <div class = "yop-poll-subsection postbox">
                                    <table class="wp-list-table widefat fixed" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th id="" class="column-answer" style="width: 40%;" scope="col">{{ __ ('Answer') }}</th>
                                            <th id="" class="column-votes" style="width: 5%;" scope="col">{{ __ ('Votes')  }}</th>
                                            <th id="" class="column-percent" style="width: 5%;" scope="col">{{ __ ('Percent')  }}</th>
                                            <th id="" class="column-bar" style="width: 45%;" scope="col"></th>
                                        </tr>


                                        </thead>

                                        <tbody>
                                        {% for answerr in question_detail.answers%}
                                        <tr>
                                            <th> {{answerr.answer}}</th>
                                            <th>{{answerr.votes}}</th>
                                            <th>{{answerr.status}} %</th>
                                            <td><span class="yop-poll-admin-result-bar" style="width:{{answerr.status*5}}px">
										        </span></td>
                                        </tr>
                                        {%endfor%}
                                        </tbody>
                                    </table>


                                </div>

                                <div class = "yop-poll-subsection postbox">

                                    <div title = "{{ __('Click to toggle') }}" class = "handlediv"><br/> </div>

                                    <h4 class = "yop-poll-subsection-title hndle" style = "padding-top: 5px; padding-bottom: 5px; padding-left: 10px;">{{__( 'Poll Other Answers')}}:</h4>

                                    <div class = "inside" style = "border-top: 1px solid #AAAAAA; padding: 0px;">
                                        <div>
                                            <table class = "wp-list-table widefat fixed" cellspacing = "0">
                                                <thead>
                                                <tr>
                                                    <th class = "column-answer" scope = "col">{{__( 'Value' )}}</th>
                                                    <th class = "column-votes" scope = "col">{{__( 'Votes' )}}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {%set index=0%}
                                                {% for  answer in question_detail.answers%}
                                                <tr>
                                                    {%  if answer.type == 'other' %}
                                                    <th>{{ esc_html( stripslashes( answer.answer ) )}}</th>
                                                    <td>{{ esc_html( stripslashes( answer.votes ) )}}</td>
                                                    {%set index=1 %}
                                                    {%endif%}
                                                </tr>
                                                {%endfor%}
                                                {% if index==0 %}
                                                <tr>
                                                    <td colspan = "2">{{__( 'No other answers defined!')}}</td>
                                                </tr>
                                                {%endif%}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class = "yop-poll-subsection postbox">

                                    <div title = "{{ __('Click to toggle') }}" class = "handlediv"><br/> </div>

                                    <h4 class = "yop-poll-subsection-title hndle" style = "padding-top: 5px; padding-bottom: 5px; padding-left: 10px;">
                                        {{__( 'Custom Fields')}}:
                                    </h4>
                                    <form method = "get" action = "">
                                        <div>
                                            <div style = "position: absolute; float: right; top: 0px; right: 30px;">
                                                {{ wp_nonce_field( 'yop-poll-custom-fields', 'yop-poll-custom-fields', false, false ) | raw }}
                                                <label for = "yop-poll-items-per-page" class = "displaying-num">{{__( 'Items Per Page' )}}:</label>
                                                <input style="margin-top: 4px;"
                                                       id = "yop-poll-items-per-page" type = "text" name = "cf_per_page"
                                                       value = "{{cf_per_page}}"/>
                                                <input name = "a"
                                                       value = "{{__( 'Set')}}" class="button-secondary" style="margin-top: 2px;"
                                                       type = "submit"/>&nbsp;&nbsp;
                                                        <span class = "displaying-num">
                                                                {{ count( question_detail.custom_fields_logs_details)}} / {{question_detail.total_custom_fields_logs}} items
                                                        </span>
                                                <input type="hidden" name="page" value="yop-polls">
                                                <input type="hidden" name="action" value="resultvotes">
                                                <input type="hidden" name="cf_page_no" value="{{cf_page_no}}">
                                                <input type = "hidden" name = "id" value = "{{poll_id}}"/>
                                                <input type = "hidden" name = "q_id" value = "{{ question_detail.q_id }}"/>
                                                {{question_detail.cf_pagination | raw}}
                                                <select name = "export">
                                                    <option value = "page">{{__( 'This Page')}}</option>
                                                    <option value = "all">{{__( 'All Pages')}}</option>
                                                </select>
                                                <input type = "submit" value = "{{__( 'Export' )}}" class = "button-secondary action" id = "doaction" name = "a">
                                            </div>
                                        </div>
                                    </form>

                                    <div class = "inside" style = "border-top: 1px solid #AAAAAA; padding: 0px;">
                                        <table class = "wp-list-table widefat fixed">
                                            <thead>
                                            <tr>
                                                <th class = "column-answer" scope = "col">{{__( '#' )}}</th>
                                                {% for  custom_field in question_detail.custom_fields %}

                                                <th id = "custom_field_{{custom_field.ID}}"
                                                    class = "column-custom-field"
                                                    scope = "col">{{ ucfirst( custom_field.custom_field )}}</th>
                                                {%endfor%}
                                                <th class = "column-vote-id" style = "width:20%"
                                                    scope = "col">{{__( 'Vote ID')}}</th>
                                                <th class = "column-tr-id" style = "width:15%"
                                                    scope = "col">{{__( 'Tracking ID' )}}</th>
                                                <th class = "column-vote-date" style = "width:15%"
                                                    scope = "col">{{__( 'Vote Date')}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {%set index=0%}
                                            {%for custom_field_detail in question_detail.custom_fields_logs_details%}
                                            <tr>
                                                {%set index=index+1%}
                                                <td>{{index}}</td>
                                                {%for id in custom_field_detail.column_custom_fields_ids%}
                                                {%set value=custom_field_detail.custom_fields_value%}

                                                <td>{{value[id]}}</td>

                                                {%endfor%}
                                                <td>{{custom_field_detail.vote_id}}</td>
                                                <td>{{custom_field_detail.tr_id}}</td>
                                                <td>{{custom_field_detail.vote_date}}</td>

                                            </tr>
                                            {% else %}
                                            <tr>
                                                <td colspan="4">
                                                    {{ __('No Custom Field Defined') }}
                                                </td>
                                            </tr>
                                            {%endfor%}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <form method="" id="show_results">



        {{ wp_nonce_field( 'yop-poll-results_vote','yop-poll-results_votes', false, false ) | raw }}

        <div class="tablenav top" style="padding-top: 30px">

            <div class="alignright actions">

                <input type="hidden" name="order" value="{{order}}"/>

                <input type="hidden" name="orderby" value="{{orderby}}"/>

                <input type="hidden" name="id" value="{{poll_id}}"/>

                <input type="hidden" name="page" value="yop-polls"/>

                <input type="hidden" name="action" value="resultvotes"/>

                <p class="search-box">

                    <label class="screen-reader-text" for="yop-poll-search-input">{{__( 'Search IP')}}</label>

                    <input id="yop-poll-search-input" type="search"

                           value="{%if request.s_ip  %}{{esc_html( stripslashes( request.s_ip ))}}{%endif%}"

                           name="s_ip"/> <input id="search-submit" class="button" type="submit"

                                                value="{{__( 'Search Ip')}}" name=""/>

                </p>



            </div>



            <div class="alignleft actions">



                <select name="action">

                    <option selected="selected" value="resultvotes">{{__( 'Bulk Actions')}}</option>

                    <option value="delete_result">{{__( 'Delete')}}</option>



                </select>   <input type="submit"

                                   value="{{__( 'Apply')}}"

                                   class="button-secondary action" id="doaction" name=""><span style="line-height: 2.1em;">&nbsp;|&nbsp;</span>

            </div>



            <div class="alignleft actions">

                <select name="export">

                    <option value="page">{{__( 'This Page')}}</option>

                    <option value="all">{{( 'All Pages')}}</option>



                </select>

                <input type="submit"

                       value="{{__( 'Export')}}"

                       class="button-secondary action" id="doaction" name="a_v">

                &nbsp;&nbsp;&nbsp;



            </div>







            <div class="alignright action">

                <div class="tablenav-pages one-page" style="margin-top: 4px;">

                    <label for="yop-poll-items-per-page" class="displaying-num">{{ __('Items Per Page') }}:</label>

                    <input id="yop-poll-items-per-page" type="text" name="per_page" value="{{ per_page }}" />

                    <input name="a" value="{{ __( 'Set' ) }}"  class="button-secondary" type="submit" />&nbsp;&nbsp;

						<span class="displaying-num">{{count( results )}} / {{total_results}}

                                                                                   results</span>

                                                                              {{pagination | raw}}

                </div>

            </div>

            <br class="clear">

        </div>



        <table class="wp-list-table widefat fixed" cellspacing="0" id="table_results">

            <thead>

                <tr>

                    <th id="cb" class="manage-column column-cb check-column"

                        style="width: 4%;" scope="col"><input type="checkbox"></th>





                    </th>   <th id="period"

                                style="width: 12%" scope="col">



                    <span>{{__( 'Vote ID')}}</span>



                    </a></th>





                    <th id="user_from"

                        class="manage-column {{order_sortable.user_type}} {{order_direction_reverse.user_type}}"

                        style="width: 6%" scope="col">

                        <span>{{__( 'User Type')}}</span>

                        </a></th>



                    <th id="tr_id"

                        class="manage-column {{order_sortable.tr_id}} {{order_direction_reverse.tr_id}}"

                        href="{{esc_url( add_query_arg( array( {'orderby' : 'tr_id', 'order' : order_direction.tr_id,'action' :'resultvotes'}  ) ) )}}"

                        style="width: 10%" scope="col">

                        <span>{{( 'Tracking ID')}}</span>

                        </a></th>

                    <th id="ip"

                        class="manage-column {{order_sortable.ip}} {{order_direction_reverse.ip}}"

                        style="width: 8%" scope="col">

                        <span>{{__( 'Ip' )}}</span>

                        </a></th>







                    </a></th>   <th id="period"

                                    class="manage-column {{order_sortable.vote_date}} {{order_direction_reverse.vote_date}}"

                                    style="width: 11%" scope="col"><a

                        href="{{ esc_url( add_query_arg( { 'orderby' : 'vote_date', 'order' : order_direction.vote_date,'action' :'resultvotes' } ) ) | raw }}">



                    <span>{{__( 'Vote Date')}}</span> <span



                        class="sorting-indicator"></span>

                </a>

                    <th style="width: 3%;">



                    </th>

                </tr>

            </thead>

            <tfoot>

                <tr>

                    <th id="cb" class="manage-column column-cb check-column"

                        style="width: 4%;" scope="col"><input type="checkbox"></th>





                </th>   <th id="period"

                            style="width: 15%" scope="col">



                    <span>{{__( 'Poll ID')}}</span>



                </a></th>





                    <th id="user_from"

                        class="manage-column {{order_sortable.user_type}} {{order_direction_reverse.user_type}}"

                        style="width: 10%" scope="col">

                        <span>{{__( 'User Type')}}</span>

                        </a></th>



                    <th id="tr_id"

                        class="manage-column {{order_sortable.tr_id}} {{order_direction_reverse.tr_id}}"

                        href="{{esc_url( add_query_arg( array( {'orderby' : 'tr_id', 'order' : order_direction.tr_id,'action' :'resultvotes'}  ) ) )}}"

                        style="width: 10%" scope="col">

                        <span>{{( 'Tracking ID')}}</span>

                        </a></th>

                    <th id="ip"

                        class="manage-column {{order_sortable.ip}} {{order_direction_reverse.ip}}"

                        style="width: 5%" scope="col">

                        <span>{{__( 'Ip' )}}</span>

                        </a></th>







                </a></th>

                <th id="period"

                    class="manage-column {{order_sortable.vote_date}} {{order_direction_reverse.vote_date}}"

                    style="width: 15%" scope="col"><a

                        href="{{ esc_url( add_query_arg( { 'orderby' : 'vote_date', 'order' : order_direction.vote_date,'action' :'resultvotes' } ) ) | raw }}">



                        <span>{{__( 'Vote Date')}}</span> <span



                        class="sorting-indicator"></span>

                    </a>

                </th>

                <th></th>

            </tfoot>

            {%set index=1%}





            <tbody id="the-list">
                   {% if  count( results ) > 0 %}

            {% for result in results %}

                <tr valign="middle" class="alternate"

                    id="yop-poll-log{{log.id}}">

                    <th class="check-column" scope="row">





                        <input type="checkbox" value="{{result.ID}}"

                               name="yoppollresultscheck[]">

                    </th>

                    <td><strong>{{result.vote_id}}</strong><br>

                        <br>

                        <div class="row-actions">





                                                    <span class="delete">

                                                         <a	onclick="return confirm( '{{ __( "You are about to delete this result" ) }}: {{ __( "Cancel" ) }} {{ __( "to stop" ) }}, {{ __( "OK" ) }} {{ __( "to delete" ) }}' )"

                                                              href="{{ wp_nonce_url( add_query_arg( array ({ 'action' : 'delete_result', 'resultid' : result.ID}) ),'yop-poll-results_vote','yop-poll-results_votes' ) | raw }}"

                                                            class="submitdelete">{{__( 'Delete')}}</a></span>|<span class="delete">


 <a  class="yop_poll_tooltip-buy_pro"

     style="cursor: pointer">{{__( 'Ban')}}</a></span>


                        </div></td>

                    <td style="display: none"><input  id="yop-poll-results-ip_{{index}}" value="{{esc_html( stripslashes( result.ip ))}}"><input></td>

                    <td style="display: none"><input  id="yop-poll-results-userid_{{index}}" value="{{esc_html( stripslashes( result.user_id ))}}"><input></td>



                    <td>

                        {{esc_html( stripslashes(result.user_type ))}}

                    </td>

                    <td>

                        {{esc_html( stripslashes( result.tr_id ))}}

                    </td>

                    <td>

                        {{esc_html( stripslashes( result.ip ))}}

                    </td>

                    <td>

                        {{esc_html( stripslashes( result.vote_date ))}}

                    </td>

                    <td class="more_details" style="cursor: pointer" >



                    </td>

                      <td class="less_details" style="display: none; cursor:pointer;" >



                     </td>





                </tr>

                <tr style="display: none; " class="results_details">

                    <td></td> <td></td>



                    <td>         {{__("Questions")}}<br><strong>  {{result.vote_answers |nl2br}}</strong><br>
                                 {%if strlen (result.custom_fields)>1%}
                                 {{__("Custom Fields")}}<br><strong>{{ result.custom_fields|nl2br}}</strong></td></td>
                             {%endif%}
                </tr>
                 {%set index=index+1%}

            {%endfor%}

            {%endif%}

            </tbody>



        </table>

        <div class="tablenav bottom">

            <div class="tablenav-pages one-page">

						<span class="displaying-num">{{count( results )}} / {{total_results}}

                                                                                   results</span>

                {{pagination | raw}}

            </div>

        </div>

    </form>

</div>



<div style="position: absolute">



</div>



{%else %}
<h3>{{__( 'Your poll doesn`t exist!' )}}</h3>
{%endif%}
</div>






{%endblock content%}