/* 
	Shadow 
	[Part of Colorbox Themes Pack on CodeCanyon]
	
	Desc: A simple outline and dark BG, with simple small dark buttons. Captions above.
*/

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:100000; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/

#cboxOverlay{ background:#090909; } 
#cboxWrapper { overflow:visible; }
#cboxTopLeft, #cboxTopCenter, #cboxTopRight, #cboxBottomLeft, #cboxBottomCenter, #cboxBottomRight, #cboxMiddleLeft, #cboxMiddleRight {
	background:#ffffff;
}
#colorbox {
	overflow:visible;
	outline: 1px solid #555555;
}
    #cboxTopLeft,
    #cboxTopCenter,
    #cboxTopRight,
    #cboxBottomLeft,
    #cboxBottomCenter,
    #cboxBottomRight,
    #cboxMiddleLeft,
    #cboxMiddleRight{display:none;}
	
    #cboxContent{background:#fff; overflow:visible;}
        .cboxIframe {background:#fff;}
		.cboxPhoto {margin-bottom:0px;}
		.cboxPhoto.withLongCaption { margin-bottom:0px; }
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:0px; font-style: italic; }
        #cboxTitle{ 
			position:absolute; left:0; bottom:100%; clear:both; text-align:left; width:100%; overflow:hidden;
			min-height:16px;  
			padding:10px 0 4px 0;
			color:#d5d5d5; font-size:11px;
		}
        #cboxCurrent{position:absolute; bottom:0px; left:100px; color:#999;  text-transform:capitalize; display:inline-block; padding-left:1.5em; }
        #cboxLoadingOverlay{background:#fff url(images/loading.gif) no-repeat 50% 50%;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; text-transform:capitalize; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
		button:focus{ outline:1px dotted #000000; }
		
		/* Image Button Styles */
		#cboxPrevious, #cboxNext, #cboxClose {
			width:27px; height:27px; display:block; background:url(images/colorbox_fancyoverlay.png) no-repeat 0 0;
			transition:opacity 0.35s ease;
			/* -9999px replacement */
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
		}
		#cboxPrevious:hover, #cboxNext:hover, #cboxClose:hover { opacity:0.75; }
        #cboxPrevious{position:absolute; bottom:-28px; right:64px; color:#444; background-position:0 -54px; }
        #cboxNext{position:absolute; bottom:-28px; right:37px; color:#444; background-position:0 -27px; }
        #cboxClose{position:absolute; bottom:-28px; right:-6px; display:block; color:#444; background-position:0 0; }

		#cboxCurrent { left:0; padding-left:0; margin-left:0; bottom:-18px; font-size:10px; margin:0; text-align:left; }
		
        #cboxSlideshow{position:absolute; bottom:-22px; right:102px; color:#444;}
		#cboxSlideshow {
			color: #f9f9f9;
			font-size:10px; line-height:12px;
			background-color: #191919;
			padding: 4px 8px;
		}
		#cboxSlideshow:hover { background-color: #333333; color:#ffffff; }

/*
 IE7 and IE8. This style is not applied to IE9.
*/
/*.cboxIE #colorbox {} */
