@import url('font-awesome.css');
.selectEdit {cursor: pointer;margin:0 1%;font-size:18px; color: #006dcc;display:none;}
.selectEdit:hover{color: #CC0000;}
.hide{display:none;}
.loading{background:url(../images/load.gif);display:block;width: 128px;height:15px;}
.load{background:url(../images/loading.gif);display:none;width: 64px;height:64px;}
.clearfix{clear:both;}
.table{width:100%;}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {padding: 8px;line-height: 1.42857143;vertical-align: top;}
.table > thead > tr > th {vertical-align: bottom;border-bottom: 2px solid #ddd;}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {border-top: 0;}
.table > tbody + tbody {border-top: 2px solid #ddd;}
.table thead tr td,
.table thead tr th{font-weight: bold;}
.table > tbody > tr > td{border-bottom: 1px solid #ddd;}
.editPost{background: #fff;padding:1%;margin:.5% 0;}
.editPost h2{padding:.5%;}
ul.listbox li a,.table tbody  tr  td a{color:#0073D9;text-decoration: none;}
ul.listbox li a:hover ,.table tbody  tr  td a:hover{color: #C00;}
.table tbody  tr  td{font-size: 13px;}
.editBox{float:left;width:48%; margin:1%;}
ul.listbox {padding:2%;}
ul.listbox li{padding:1%;}
.toplevel_page_wp-user-avatar{display:none;}

.rename_video_cancel,.remove_video i{color: red;padding-left: 5px;vertical-align: middle;font-size: 15px;}
.other-video-offline{padding-top: 10px;}
.other-video-offline input {margin: 0;}
a.remove_video,a.rename_video {float: right;}
a.rename_video i{padding-left: 5px;vertical-align: middle;font-size: 15px;}
a.remove_video{margin-left: 5px;}
input.rename_video_s3{width: 100%;}
.rename_video_ok,.rename_video_cancel{display: none;font-size: 15px;float: right; padding-left: 5px;vertical-align: middle;font-size: 20px;vertical-align: sub; }
.rename_video_ok i,.rename_video_cancel i{vertical-align: sub; }
.other-video-offline .loading{
    width: 100%;
    height: 25px;
    text-align: center;
    font-size: 20px;
    padding-top: 6px;
    font-weight: bold;
    color: black;}
.search-user{display: inline-block;float: right;}
.video_red{color: red;}