<p>Dear beloved Benefactor!</p>
<p>Thank you for your monthly recurring offering to <a href="!!home_blog!!" title="Dharma-eLearning.net">Dharma-eLearning.net</a>. 
    We deeply appreciate your offering and rejoice in your practice of generosity and in your merit.<br/>
    Emaho!
</p>
<p>You will receive a separate email from PayPal with more details on the actual transaction, but here are the details for your recurring offering as we know them:</p>
<p>Account (on <a href="!!home_blog!!" title="Dharma-eLearning.net">Dharma-eLearning.net</a>): !!display_name!! (!!user_email!!)</p>
<p>Amount: !!invoice_total!! per month</p>
<p>The first offering was transferred already, the following offerings will be transferred in monthly intervals. </p>
<p>!!membership_expiration!! !!discount_code!!</p>
<p>
	Invoice #!!invoice_id!! on !!invoice_date!!<br />
	Total Offering: !!invoice_total!!
</p>
<p>To check the status of and cancel your recurring offering, you 
can go to <a href="!!my_account!!" title="My Account">My Account</a> and <a href="!!my_offering!!" title="My Offerings">My Offerings</a> any time. </p>
<p>You can also check and cancel anytime in your PayPal account.</p>
<p>The email from PayPal will tell you that you have created a recurring payment to The Vimalakirti Project Ltd., and if you haven’t made an offering online to <a href="!!home_blog!!" title="Dharma-eLearning.net">Dharma-eLearning.net</a> before, please rest assured that that is all as should be as we are using Jinpa’s company to process payments for <a href="!!home_blog!!" title="Dharma-eLearning.net">Dharma-eLearning.net</a> at this time.</p>
<p>Once more, thank you so much, beloved Benefactor!</p>
<p>May your practice increase and be immeasurably beneficial and may all be auspicious!</p>
