<p>Dear Dharma-friend and benefactor,</p>
<p>Firstly, please allow us to once more express our appreciation for your offerings. </p>
<p>Secondly we’d like to say that we are of course a little sad about your cancellation. (If you canceled this recurring offering in order to change the amount, of course we are very happy and we’ll see you over there in the thank you mail for that.) </p>
<p>If you’d like to share your reasons, especially if it was something about us, you can simply reply to this email or use the <a href="!!home_blog!!/contact-us/" title="contact form">contact form</a> on the platform. Any feedback would be much appreciated.</p> 
<p>Having said that, we sincerely wish that you will keep using <a href="!!home_blog!!" title="Dharma-eLearning.net">Dharma-eLearning.net</a> for your practice and learning of Dharma and that we can provide benefit for you and your practice. </p>
<p>Thank you once more for your offerings and your kindness!</p>
<p>May the fruits of your practice become limitless and infinitely beneficial, may all be auspicious!</p>