et_nav_text_color_light a {
    color: rgba(255, 255, 255, 0.6);
}

.et_nav_text_color_dark a {
    color: rgba(0, 0, 0, 0.5);
}

.et_nav_text_color_light a:hover {
    color: rgba(255, 255, 255, 1) !important;
}

.et_nav_text_color_dark a:hover {
    color: rgba(0, 0, 0, 0.7) !important;
}

#menuUser {
    float: left
}

#menuUser li {
    float: left;
    margin-right: 15px
}

#mask {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100001
}

.ajaxloading {
    background: url('../images/loading.gif') no-repeat center center rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100001
}

.ajaxloading.small {
    background: url('../images/ajax-loader.gif') no-repeat center center rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100001
}

#popupAll {
    margin: 0 calc(10% - 10px);
    min-width: 80%;
    position: absolute;
    padding: 10px;
    background: url('../images/loading.gif') no-repeat center center #fff;
    border: 1px solid #ccc;
    z-index: 100002;
    top: 80px;
    box-shadow: 0 0 3px #ccc
}

#login {
    width: 100%;
    padding: 0
}

#login h1 {
    display: none
}

#login > form {
}

.et_pb_bg_layout_light .et_pb_promo_button.loading:hover {
    background-position: center center
}

#login > form > p, #login > form .cimy-user-field {
    display: inline-block;
    width: calc(50% - 2px);
    vertical-align: top;
    min-height: 41px
}

#login > form .cimy-user-field.radio {
    width: auto;
    padding-right: 20px
}

.login input[type="text"], .login input[type="email"] {
    width: 97%
}

#login > form .cimy-user-field.textarea {
    float: left
}

body .ui-dialog-titlebar {
    background: #2ea3f2
}

.btn-close, body .ui-dialog .ui-dialog-titlebar-close {
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #f33;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 3px;
    right: 3px;
    background: #fff;
    border-radius: 13px;
    font-weight: 700;
    cursor: pointer;
    margin: 0
}

.btn-close, body .ui-dialog .ui-dialog-titlebar-close .ui-button-text {
    display: inline-block;
    font-size: 10px;
    font-weight: normal;
    height: 20px;
    line-height: 16px;
    padding: 0;
    text-align: center;
    text-indent: 0;
    vertical-align: top;
    width: 18px;
}

.ui-button-icon-only .ui-icon {
    top: 0;
    left: 1px
}

body .ui-dialog .ui-dialog-title, .ajax-login-default-form-container label, .not-a-member-handle {
    font-weight: 400;
    font-size: 14px;
    color: #666
}

body .ui-dialog .ui-dialog-title {
    color: rgba(255, 255, 255, 0.6);
    text-shadow: none
}

.btn-close:hover {
    background: #ccc
}

.ui-widget-overlay {
    z-index: 100001
}

body .ui-dialog {
    z-index: 100002;
    font-family: "Open Sans", Arial, sans-serif
}

#cartheader {
    float: right;
    position: relative;
}

.menu-type-link {
    position: relative;
    line-height: 20px
}

#cartheader .menu-cartmenu-container, .link-my-account {
    position: absolute;
    top: 26px;
    left: 0px;
    display: none;
    padding: 15px 10px 10px;
    margin-top: -10px
}

.link-my-account > li {
    display: block;
    float: none !important;
}

#cartheader:hover .menu-cartmenu-container, .menu-type-link:hover > .link-my-account {
    display: block
}

#cartheader .menu-cartmenu-container #menu-cartmenu {
    display: block;
}

#cartheader .menu-cartmenu-container #menu-cartmenu li {
    display: block;
    padding: 2%;
}

#cartheader .menu-cartmenu-container #menu-cartmenu li:last-child {
    border-bottom: none
}

#cartheader .menu-cartmenu-container #menu-cartmenu a, .link-my-account a {
    display: block;
    line-height: 25px;
    white-space: nowrap;
    padding: 10px 25px;
}

#top-header .et-cart-info {
    margin-left: 15px;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 2px
}

/*#top-header #cartheader:hover .et-cart-info {border:1px solid rgba(255, 255, 255, 0.6) }*/
#et-top-navigation .et-cart-info {
    float: left;
    margin: 12px 0 0 22px;
}

.launchDiv {
    margin: 1% 0;
}

#main-footer {
    margin-top: 1%;
}

.et_pb_slider {
    display: none;
}

.et_pb_slider:first-child {
    display: block;
}

.launchDiv {
    padding: 10px 0;
    float: left;
}

.single-product-content {
    float: left;
}

.courses-content {
    padding: 1% 0;
}

.courses-content:nth-child(2n+1) {
    background: #83a1bf;
    color: #fff;
    box-shadow: inset 0px 0px 10px #777;
}

.courses-content:nth-child(2n+1) a {
    color: #fff !important;
}

.control {
    float: right;
}

.courses-content h2 {
    padding-bottom: 3%;
}

.courses-content:nth-child(2n+1) .control {
    float: left;
}

.pagination a, .pagination span {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #333;
    display: inline-block;
    font-size: 1em;
    margin: 0 2px;
    padding: 0.6em 0.8em;
    position: relative;
    text-decoration: none;
}

.pagination span, .pagination a:hover {
    background-color: #01B1D3;
    border: 1px solid #01B1D3;
    color: #FFFFFF;
}

.site-paginate {
    display: block;
    margin-top: 20px;
    position: relative;
    text-align: center;
    z-index: 9999;
}

/*Button*/
.btn {
    padding: 5px 12px;
    text-align: center;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover, .btn:focus {
    color: #333;
    text-decoration: none;
}

.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    color: #fff;
    background-color: #3071a9;
    border-color: #285e8e;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid transparent;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info .active {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.woocommerce-error a {
    color: #C03 !important;
    background: #E5F2B1 !important;
}

.addtocartcontainer {
    text-align: center
}

.alert {
    background: #f1f1f1;
    padding-top: 0 !important;
    padding: 1% !important;
    color: #333;
    font-size: 16px;
}

#top-menu .sub-menu li {
    display: block
}

#top-menu li li a {
    padding: 10px 20px 10px 0;
    width: auto;
    white-space: nowrap;
}

.woocommerce .login input.input-text, .woocommerce table.cart input, .woocommerce #content table.cart input, .woocommerce-page table.cart input, .woocommerce-page #content table.cart input {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 6px 5px
}

.checkout-button.wc-forward {
    float: right
}

.productslist .row_0, .productslist .row_1 {
    background-color: #DEFFEE;
    margin-bottom: 0px !important;
    display: inline-block
}

.productslist .row_0 {
    margin-right: 50px;
}

.productslist.col2 .row_0 {
    margin-right: 0px;
}

/*.productslist.col2 .row_1{margin-right: 50px;}*/
.productslist .type-product a {
    display: inline;
    margin-right: 5px
}

/*Button*/
.removeMyCourse {
    cursor: pointer;
}

.et_pb_promo_button {
    cursor: pointer
}

.et_pb_promo_button.wc-forward {
    background: #101087;
}

.single-product .content {
    background: url(../images/bg.jpg) #fff;
    padding: 2% 0 !important;
    color: #fff;
}

.profile-left {
    float: left;
    width: 30%;
    margin-right: 1%;
}

.profile-right {
    float: left;
    width: 69%;
}

.profile-right .page-title {
    background: #2ea3f2;
    color: #fff;
    padding: 1%;
}

.profile-right .page-title span {
    float: right;
}

.profile-right .page-title span a {
    color: #fff;
}

.profile-right .page-title span a:hover {
    color: orange;
}

.profile-content {
    padding: .5%;
}

.et_pb_promo_button.loading {
    opacity: 0.5;
    background-image: url('../images/ajax-loader.gif') !important;
    background-repeat: no-repeat !important;
    background-position: center center;
    display: inline
}

.et_pb_promo_button:hover, .et_pb_promo_button.add_to_cart_button.product_type_simple.loading:hover {
    background-repeat: no-repeat !important;
    background-position: center center
}

.et_pb_promo_button.btn-green {
    background: #108714
}

.et_pb_promo_button.violet {
    background: #731933
}

.et_pb_promo_button.active {
    background: #c03;
    border-color: #fff;
    color: #FFEA63;
    font-weight: 700;
}

.resource_course > .rescontent {
    border-bottom: 1px solid #eaeaea;
    padding-top: 1em
}

.resource_course > .rescontent:last-of-type {
    border: none
}

.add_to_cart_inline.notice {
    background: #e9ffd4;
    margin: 5px 0;
    padding: 5px 10px;
}

.mycontent-loginform {
    display: inline-block;
    margin: 5% auto;
    padding: 30px;
    text-align: left;
    border: 1px solid #b4b4b4
}

.mycontent-loginform .login-username label, .mycontent-loginform .login-password label {
    display: inline-block;
    width: 85px
}

.mycontent-loginform .button-primary {
    padding: 5px 10px;
    font-size: 15px;
    background: #2ea3f2;
    color: #fff;
    font-family: "Open Sans", Arial, sans-serif;
    border: none;
    cursor: pointer
}

.mycontent-loginform .button-primary:hover {
    background: #beeb20
}

#commentform .question_answer {
    width: 100%;
    padding: 8px
}

#commentform textarea.question_answer {
    resize: vertical
}

#commentform .comment-form-submit .question_answer {
    width: calc(100% - 165px);
}

#commentform .question_answer:focus {
    border-color: #ccc
}

form.comment-form {
    position: relative;
}

form.comment-form#commentform {
    padding-bottom: 0;
}

form.comment-form .form-submit {
    position: absolute;
    top: 57px;
    right: 0;
}

form.comment-form .form-submit input[name="submit"] {
    transition: 1s all;
    background: #731933;
    cursor: pointer;
    color: #fff !important;
    border: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7em;
    padding: 6px 20px;
    position: relative;
}

/*form.comment-form p.form-submit input[name="submit"]:after{transition:1s all;content: "5";font-size: 32px;line-height: 1em;opacity: 0;position: absolute;right: 0px;top: 8px;transition: all 0.2s ease 0s;font-family: "ETmodules";font-style: normal;font-variant: normal;font-weight: normal;line-height: 1;text-transform: none;}
form.comment-form p.form-submit input[name="submit"]:hover:after{opacity: 1}*/
/*form.comment-form p.form-submit:hover{border-color: #31b0d5;padding-right:10px;background: #31b0d5}*/
form.comment-form p.form-submit:hover input[name="submit"] {
    background: #31b0d5
}

.hide {
    display: none;
}

.list-school > ul > li, .list-affiliation > ul > li {
    float: left;
    padding: 1%;
    width: 48%;
}

.list-affiliation ul {
    list-style: none !important;
}

.list-affiliation ul ul {
    display: none;
}

.list-affiliation ul ul li span {
    font-size: 14px;
}

.list-affiliation ul ul li .practice-item,
.list-affiliation ul ul li .add-item-school,
.list-affiliation ul ul li .add-school,
.list-affiliation ul ul li .add-teacher,
.list-affiliation ul ul li .add-country,
.list-affiliation ul ul li .add-item {
    font-size: 11px;
}

.practice-list:hover, .practice-item:hover, .add-item-school:hover, .add-school:hover, .add-teacher:hover, .add-country:hover, .add-item:hover {
    color: orange;
}

.practice-list, .practice-item, .add-item-school, .add-school, .add-teacher, .add-country, .add-item, .practice-item b, .add-item-school b, .add-school b, .add-teacher b, .add-country b, .add-item b {
    color: #31b0d5;
    cursor: pointer;
    font-size: 12px;
}

.form-control {
    border: 1px solid #eee !important;
    padding: 5px 3px !important;
}

.form-control.country-name {
    padding-left: 3px !important;
    font-size: 11px;
}

.select-country, .select-school {
    margin-left: 6px;
}

.form-add {
    width: 32%;
    float: left;
    padding-right: .5%;
    margin: .5% 0;
}

.button {
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid transparent;
}

.woocommerce.add_to_cart_inline {
    display: inline-block
}

/*.tabcontentapply{display: none}*/
.et_pb_column_4_4 .tabcontent {
    display: inline-block;
    width: calc(100% - 2px);
    padding: 0;
    margin: 10px 0 0 0;
}

.et_pb_column_4_4.myaccount_tab {
    border: 1px solid #d9d9d9
}

.et_pb_column_4_4.myaccount_tab .tabcontent {
    margin: 0;
    background-color: #f4f4f4;
    border-bottom: 1px solid #d9d9d9;
}

.et_pb_column_4_4.myaccount_tab .tabcontent li {
    padding: 0;
    height: auto;
    width: auto;
    border-right: 1px solid #d9d9d9
}

.et_pb_column_4_4.myaccount_tab .tabcontent li a {
    display: inline-block;
    padding: 5px 20px;
    color: #666
}

.et_pb_column_4_4.myaccount_tab .tabcontent li a.active {
    background: #fff;
    font-weight: 700
}

.et_pb_column_4_4.myaccount_tab .tabcontentapply {
    width: calc(100% - 40px);
    padding: 1em 20px 10px
}

.et_pb_column_4_4 .tabcontent li {
    list-style: none;
    float: left;
    text-align: center;
    width: 32%;
    height: 48px
}

.et_pb_column_4_4 .tabcontent li:last-child {
    border-right: none
}

.et_pb_column_4_4 .tabcontent li a {
    display: block;
    padding: 5px 0
}

.tabcontentapply .description_course {
    display: table;
}

.tabcontentapply .description_course > div {
    display: table-cell;
    vertical-align: top
}

.tabcontentapply .featureImage {
    padding-right: 15px
}

.tabcontentapply .featureImage img {
    max-width: 350px;
    padding: 1px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

select[multiple] {
    padding: 1%;
    width: 50%;
    margin: .5%;
}

.multiteacher {
    border: none;
    display: block;
    height: 200px;
}

.select-country .btn, .show-teacher .btn {
    padding: 1%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid transparent;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.general-left {
    float: left;
    margin-right: 2%;
}

.general-left img {
    width: 100%;
    border: 1px solid #ccc;
    padding: .5%;
}

.general-right {
    float: left;
}

.refuge {
    width: 80%;
    margin: 0 auto;
}

.practice .input-text, .refuge .input-text, .general-right .input-text {
    width: 100%;
    padding: 1%;
    border: 1px solid #eee;
}

.refuge input[type="text"].input-text {
    width: 98%;
}

.select-ongoing {
    margin-top: 2%;
}

.practice > div {
    width: 30%;
    float: left;
    margin-left: 1%;
}

.practice > div:last-child {
    width: 100%;
}

/*#practice-value{height: 150px;}*/
.select-practice option:checked {
    color: #fff;
    background: #31b0d5;
}

#menu-legal-etc-menu {
    float: left;
}

.btn-default {
    height: 30px;
    background: #5cb85c;
    border: 1px solid #eee;
    cursor: pointer;
    color: #fff;
}

.lost_reset_password .notice {
    color: #F2AF33 !important;
    font-size: 16px;
    font-weight: 700;
}

.lost_reset_password .input-text {
    padding: 5px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px
}

.lost_reset_password .input-text:focus {
    border-color: #2ea3f2
}

.woocommerce form.lost_reset_password .lost_reset_password_div {
    width: 50%;
    margin: 10px auto;
    display: block;
}

.woocommerce form.lost_reset_password .form-row {
    float: none;
    width: 100%
}

.woocommerce form.lost_reset_password .form-row .error, .ajax-login-register-register-container .error, label.error {
    color: #E32619;
    font-size: 13px;
    font-style: italic
}

.woocommerce form.lost_reset_password .form-row .required, .woocommerce-page form.lost_reset_password .form-row .required {
    border: 1px solid #ccc;
    color: #333
}

.ajax-login-default-form-container input[type="text"].captcharegister {
    display: inline-block;
    width: calc(50%)
}

.woocommerce form.lost_reset_password .form-row .required, .woocommerce-page form.lost_reset_password .form-row .required {
    border: 1px solid #ccc;
    color: #333
}

table {
    border-collapse: collapse;
    background-color: transparent;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

th {
    text-align: left;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

.table > tbody + tbody {
    border-top: 2px solid #ddd;
}

.table thead tr td,
.table thead tr th {
    font-weight: bold;
}

.text-warning {
    color: #F2AF33;
}

.text-center {
    text-align: center;
}

.list-affiliation ul {
    list-style: none outside none;
}

.list-school ul > li > span, .list-affiliation > ul > li > span {
    color: #3B4C56;
    font-weight: normal;
    position: relative;
    text-decoration: none;
}

.list-school ul li ul, .list-affiliation ul li ul {
    border-left: 1px solid #D9DADB;
    display: none;
    margin: 0 0 0 12px;
    overflow: hidden;
    padding: 0 0 0 25px;
}

.list-school ul li ul li, .list-affiliation ul li ul li {
    position: relative;
}

.list-school ul li ul li:before, .list-affiliation ul li ul li:before {
    z-index: 1;
    border-bottom: 1px dashed #E2E2E3;
    content: "";
    left: -20px;
    position: absolute;
    top: 12px;
    width: 15px;
}

.list-school ul li span, .list-affiliation ul li span {
    cursor: pointer;
}

.btn-save {
    padding: 8px 20px;
}

.resendActivemsg {
    text-align: center;
    font-weight: 700
}

#resendActiveForm {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 320px
}

.resendActivemsg.err {
    color: #BA0000
}

.resendActivemsg.suc {
    color: #3B4C56
}

.select-ongoing ul li ul {
    display: none;
}

.select-ongoing ul {
    list-style: none !important;
}

/*Comment*/
.comment_course .comment-list {
    display: inline-block;
    width: 100%;
    list-style: none;
    padding: 0
}

.comment_course ul {
    padding: 0;
}

.comment-list li {
    display: inline-block;
    width: 100%;
    list-style: none;
}

.comment-list li:last-child {
    border: 0;
}

.comment-list li p {
    padding-bottom: 5px
}

.comment-list li .comment-body {
    padding: 0;
    display: inline-block;
    width: 100%;
    margin-bottom: 0
}

.comment-list li .comment-author {
    float: left;
    margin: 1% 20px 0 0;
    display: inline-block;
    vertical-align: top
}

.comment-list li .commentmetadata {
    display: block;
    vertical-align: top
}

.comment-list li .commentmetadata p.subjectComment {
    font-size: 20px;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
}

.comment-list .comment-author img {
    border-radius: 3px;
}

.comment-list ul.children {
    padding: 1%;
}

.comment-list ul.children li {
    margin-left: 10%;
}

.comment-list ul.children ul {
    margin-left: 10%;
    border: 0;
}

.comment-reply-link {
    color: #333;
    font-size: 12px;
}

.comment-reply-link:hover {
    color: orange !important;
}

.page-header {
    border-bottom: 2px solid #333;
    margin: 2% 0;
    padding: 1%;
}

/*Comment*/
#footer-bottom .container {
    padding: 0 !important;
}

.imagecaptcha {
    display: inline-block;
    vertical-align: top
}

.imagecaptcha img {
    float: left;
}

.reload, .flag, .flag-red, .flag-white {
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    cursor: pointer;
}

.reload {
    background: url('../images/reload.png') no-repeat;
    margin: 3px;
}

.flag {
    background: url('../images/flag.png') no-repeat;
    display: none;
}

.flag-red {
    background: url('../images/flag_red.png') no-repeat;
}

.flag-white {
    background: url('../images/flag_white.png') no-repeat;
}

.listPractice {
    list-style: none !important;
}

/*.general-left #wpua-preview span,.general-left #wpua-thumbnail,.general-left #wpua-undo,.general-left #wpua-remove,.general-left #submit,.general-left #wpua-add,.general-left .wpua-edit-container h3{ display: none;}
.general-left #wpua-preview img{width: 280px; max-height: 380px;}*/
.login-password input#user_pass {
    padding: 2px;
    border: 1px solid #ccc
}

.price-custom {
    margin-right: 1% !important;
    width: 20%;
}

.footer-widget h4 {
    color: #fff !important;
    text-align: center;
}

.footer-widget {
    padding: 1% 0;
}

.footer-widget ul {
    list-style: none;
}

.copyright {
}

.footer-subcribe {
    float: right;
    margin: 0 auto;;
    margin-right: 5px
}

.footer-subcribe span, .copyright {
    display: block;
    float: left;
    color: #fff;
    line-height: 55px;
}

.footer-subcribe span {
    margin-right: 5px
}

.footer-subcribe form {
    float: right;
    margin: 12px 0 0;
    max-width:350px;
}

.footer-subcribe form input[type="text"], .mc4wp-form input#mc4wp_email {
    width: 30%;
    float: left;
    margin-right: 3px;
    margin-bottom: 3px;
    padding: 6px 7px;
}

.mc4wp-form input#mc4wp_email {
    width: 58%
}

.footer-subcribe .subscribe {
    display: inline-block;
}

.footer-subcribe .subscribe #mc4wp_lname {
    display: none
}

a.condition {
    display: inline-block;
    line-height: 55px;
    vertical-align: top
}

.footer-subcribe form input.button-info {
    line-height: 18px
}

.note {
    font-size: 13px;
}

.qa-course {
    font-weight: 700
}

.required {
    color: #f00;
}

a.button.cancel-action {
    display: inline-block;
    margin-right: 10px;
    padding: 7px 18px;
    background: #0d1c5e;
    color: #fff
}

a.button.cancel-action:hover {
    background: #357ebd;
}

#main-footer .container {
    padding: 0 !important;
}

.contact-control .pull-left {
    width: 50%;
}

#copy_self, #subscribe {
    width: 20px !important;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.check, .uncheck, .edit, .del, .checkAll {
    color: #fff;
    cursor: pointer;
}

.edit-register:hover, .check:hover, .uncheck:hover, .edit:hover, .del:hover, .checkAll:hover {
    color: #E32619;
}

.text-danger {
    color: #E32619;
}

.dataTable thead td {
    font-weight: bold;
}

.year-complete {
    width: 20%;
    padding: .5% !important;
}

.check i, .uncheck i, .edit i, .del i {
    font-size: 18px;
    margin: 0 1%;
}

.dataTable tbody tr:nth-child(2n+1) {
    background: #F7F7F7;
}

.editHide {
    margin: 0;
    padding: 0;
}

.loading {
    background: url(../images/load.gif);
    display: block;
    width: 128px;
    height: 15px;
}

/*.dataTables_info{display:none;}*/
.entry {
    margin: 1% 0;
}

.profile-title {
    margin: 2% 0;
    font-size: 16px;
}

.selectEdit .et-tooltip .et-tooltip-box {
    left: -133px;
    bottom: 40px;
}

.show {
    display: block !important;
}

.reactive {
    cursor: pointer;
    color: #2ea3f2;
}

.register-info {
    margin-left: 5%;
}

.addPractice {
    margin-top: 2%;
}

.pagination .prev, .pagination .next {
    background: #21b384;
    color: #fff;
    padding: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    margin-top: 2%;
}

.pagination .prev:hover, .pagination .next:hover {
    background: #333;
}

.reactive:hover, .reactive:active, .reactive:visited, .text-danger {
    color: #C03;
}

button[disabled],
html input[disabled],
button[disabled]:hover,
html input[disabled]:hover {
    cursor: not-allowed;
    color: #333;
    border: 1px solid #eee;
    background: #eee;
}

.comment_avatar {
    max-width: 80px
}

.cart-subtotal {
    white-space: nowrap;
}

body .ui-dialog[aria-describedby="dialog_box"] .ui-widget-content .ui-button-text {
    background: #06aeed;
    color: #fff;
    display: inline-block;
    padding: 4px 10px
}

body .ui-dialog[aria-describedby="dialog_box"] .ui-widget-header .ui-button-text {
    text-indent: -9999px
}

body .ui-dialog[aria-describedby="dialog_box"] .ui-dialog-titlebar-close:before {
    content: 'x';
    width: 20px;
    height: 20px;
    position: absolute
}

body .ui-dialog[aria-describedby="dialog_box"] {
    padding-bottom: 10px
}

body .ui-dialog[aria-describedby="dialog_box"] .ui-dialog-buttonpane {
    padding: 0 10px;
    width: calc(100% - 20px);
}

body .ui-dialog[aria-describedby="dialog_box"] .ui-dialog-buttonpane .ui-button {
    text-shadow: 0 0 0 #000;
    cursor: pointer
}

body .ui-dialog[aria-describedby="dialog_box"] .ui-dialog-buttonpane .ui-button:focus {
    border: none;
    outline: none
}

/*--------------------------Phare 2-----------------------------*/
.note-form-submit input[type="text"] {
    display: inline-block;
    width: calc(85% - 10px);
    margin-right: 10px;
    background-color: #eee;
    border: medium none;
    color: #3e3e3e;
    font-size: 18px;
    padding: 12px;
    transition: all ease 1s
}

.note-form-submit input[type="submit"], .note-form-submit input[type="reset"] {
    background: #731933;
    border: none;
    color: #fff !important;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5em;
    padding: 6px 20px;
    transition: all 1s ease 0s;
    width: calc(15% - 40px);
    border-radius: 5px
}

.note-form-submit input[type="reset"] {
    background: orange
}

.note-form-submit input[type="submit"]:hover, .note-form-submit input[type="reset"]:hover {
    background: green
}

.note-form-note textarea {
    padding: 8px;
    width: calc(100% - 31px);
    resize: vertical;
    background: #eee;
    border: none;
    font-size: 18px;
    color: #3e3e3e
}

#note_course .error {
    font-weight: 700;
    color: #E63F19;
    padding: 5px 0
}

#note_course .msg {
    font-weight: 700;
    color: green;
    padding: 5px 0
}

.entry-content .listNotes {
    list-style: none;
    padding: 1em 0
}

.listNotes > li {
    display: inline-block;
    width: 100%;
    padding-bottom: 1.5em
}

.listNotes > li:last-child {
    padding-bottom: 0
}

.listNotes > li .subject {
    font-weight: 700;
}

.listNotes > li p {
    padding-bottom: 0.5em
}

.listNotes > li .control_note {
    display: inline-block;
    padding: 2px 7px
}

.my_account_info p label {
    display: block;
    line-height: 25px
}

.my_account_info p .input-text {
    border: 1px solid #eee;
    padding: 1%;
    width: 98%;
}

.pmpro_level-container {
    padding-top: 10px
}

.productslist .type-product a.sponsorLaunch {
    display: none;
    transition: all 0.5s ease
}

.entry-content .et_pb_promo_button:hover, entry-content .et_pb_newsletter_button:hover {
    background-position: center center
}

#bbpress-forums.container {
    padding-top: 0 !important;
}

.et_pb_column #bbpress-forums.container {
    padding-top: 58px !important;
}

#bbpress-forums li.bbp-header, #bbpress-forums li.bbp-footer, #bbpress-forums li.bbp-header {
    background: #182665;
    color: white;
}

#bbpress-forums ul {
    padding: 0 !important;
}

#bbpress-forums input[type=text], #bbpress-forums input.text, #bbpress-forums input.title, #bbpress-forums textarea, #bbpress-forums select {
    padding: 5px;
}

#bbpress-forums .search_button {
    font-size: 16px !important;
    padding: 1px 6px !important;
    background: #108714;
}

#bbpress-forums .info.search_button:hover {
    font-size: 16px !important;
}

#bbpress-forums .subscription-toggle {
    float: right;
}

.bbp-breadcrumb {
    padding-top: 10px;
}

/*#bbpress-forums .subscription-toggle:hover{float: right;background-color: #31b0d5;padding: 5px;color: white;}*/
.bbp-forum-info, .bbp-topic-title {
    padding-left: 10px;
}

span.bbp-admin-links a {
    font-size: 12px !important;
}

.bbp-topic-started-by, .bbp-author-name {
    font-size: 13px;
}

.bbp-forum-content {
    display: inline-block;
}

#loginform {
    margin: 0 auto;
    width: 360px;
}

#loginform label {
    display: inline-block;
    width: 130px;
}

#bbpress-forums div.bbp-breadcrumb {
    width: 100%;
}

#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {
    background: #fafafa;
    height: 90px;
}

.bbp-reply-content blockquote {
    line-height: 18px;
    margin: 0;
    padding: 5px 20px;
    white-space: pre;
    border: none;
    display: inline-block;
    position: relative;
    font-family: Inconsolata, Consolas, Monaco, Lucida Console, monospace;
    margin-top: -3px;
    max-width: calc(100% - 40px);
    vertical-align: middle;
}

body table, body .videowhisperTable {
    border-spacing: 0
}

.videowhisper_watch {
    padding-top: 10px;
}

div[id*="videowhisper_container"] {
    overflow: hidden;
}

.bbp-reply-content blockquote:before {
    content: "\f10d";
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    top: 20px
}

.bbp-reply-content blockquote:after {
    content: "\f10e";
    font-family: FontAwesome;
    position: absolute;
    right: 0;
    top: 20px
}

#videowhisper_container {
    width: 100%;
    height: 630px;
    border: none;
}

.form_send_email {
    display: block;
    max-width: 100%;
}

.form_send_email .form-control {
    font-size: 14px;
    line-height: 1.7;
    padding: 6px 20px !important;
    width: calc(100% - 50px);
    margin-bottom: 5px;
    color: #4e4e4e
}

.form_send_email textarea.form-control {
    resize: vertical
}

.bbp-pagination-count {
    width: 100%;
}

.bbp-pagination-count .right {
    float: right;
}

.user-favorites {
    padding-top: 20px;
    color: red;
}

.ui-menu .ui-menu-item a.ui-corner-all {
    display: block
}

.ui-autocomplete-loading {
    background: url(../images/ajax-loader.gif) no-repeat 97% center;
}

.msglist {
    list-style: none
}

.msglist > li {
    display: inline-block;
    width: 100%;
    border-bottom: 1px dashed #dadada
}

.msglist > li:last-child {
    border: none;
}

.msglist > li .msg-avatar {
    width: 120px;
    float: left;
    margin: 0 10px 5px 0
}

.msglist > li .msg-avatar img {
    width: 100%;
    max-width: 100%;
    padding: 1px;
    display: block;
    background: #fff;
    border: 1px solid #ddd
}

.msglist > li .msg-wrapper {
    width: calc(100% - 135px);
    float: left
}

.msglist > li .msg-wrapper .sendername {
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    font-size: 15px
}

.msglist > li .msg-wrapper .sendername span {
    font-weight: 400;
    text-transform: none;
    color: #666666;
    font-size: 14px
}

.msglist > li .msg-wrapper .msg-subject {
    font-weight: 700;
    color: #333;
    font-size: 14px
}

.msglist > li .msg-wrapper .msg-content * {
    font-weight: 400;
}

.msglist > li .msg-wrapper .control-panel {
    opacity: 0
}

.msglist > li .msg-wrapper:hover .control-panel {
    opacity: 1
}

.msglist > li .msg-wrapper .control-panel a {
    display: inline-block;
    padding-right: 10px
}

/*#notify_email{position: relative}
#notify_email .count_unread{position: absolute;color: #fff}*/
.my-forums #left-area ul, .my-forums .entry-content ul, .my-forums .comment-content ul {
    list-style: none;
    padding: 0;
}

.my-forums .bbp-header {
    background: #182665;
    color: white;
    display: inline-block;
    width: 100%;
    border-top: 1px solid #eee;
    font-weight: bold;
    padding: 8px;
    text-align: center;
}

.my-forums .bbp-footer {
    border-top: 1px solid #eee;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    background: #182665;
    color: white;
    display: inline-block;
    width: 100%;
}

.my-forums .subscribed-topics {
    padding-top: 25px;
}

.my-forums .bbp-body {
    margin-top: -7px;
}

.my-forums .bbp-body ul {
    border-top: 1px solid #eee;
    overflow: hidden;
}

.bbp-author-unread-topics.container {
    padding-top: 0 !important;
}

#bbpress-forums ul li .bbp-reply-position-1 {
    background-color: #F4F4F4 !important;
    border-top: 1px solid #182665;
    border-bottom: 1px solid #182665;
}

/*.my-forums .bbp-user-favorites,.my-forums .bbp-user-subscriptions{border-bottom: 2px solid #89D3FF;
                               display: inline-block;
                               width: 100%;
margin-bottom: 15px;}*/
.broadcasting {
    float: right;
    z-index: 1;
    margin: 10px 1px 0 0px;
    border: none !important;
}

.rec {
    color: red;
    padding-left: 10px;
}

#playlist .play {
    color: blue;
}

#playlist .play:after {
    /*    content:  url('../images/load.gif');
        padding-left: 10px;
        vertical-align: middle;
        float: right;*/
}

#playlist {
    display: table;
    list-style-type: none;
    padding: 0;
    line-height: 20px;
    width: 100%;
    border: 1px solid #909090;
    height: 200px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
}

#playlist li {
    cursor: pointer;
    padding: 8px;
    border-bottom: 1px solid #909090;
    font-weight: bold;
    /*float: left;*/
}

#playlist li:hover {
    color: blue;
}

.fluid-width-video-wrapper object {
    height: 665px;
}

.videowhisper_watch .fluid-width-video-wrapper {
    padding-top: 360px !important
}

.videowhisper_watch.active {
    display: block !important;
}

.productslist .entry-content.et_pb_column_1_2 {
    display: inline-block;
    margin-bottom: 20px !important;
}

.productslist .entry-content.et_pb_column_1_2 .et_pb_row {
    padding: 0px 0px 20px 0px !important;
}

.productslist .entry-content.et_pb_column_1_2 .title {
    text-align: center;
    padding: 0 10px;
    margin-top: 10px;
}

.productslist .entry-content.et_pb_column_1_2 .title h3 {
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box-button {
    text-align: center
}

.fleft {
    float: left;
    margin-right: 0px;
}

.product_list .box-image {
    width: 150px;
}

.product_list .box-button {
    float: right;
    margin: 0;
}

.product_list .box-title {
    width: 50%;
    height: 90px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    /*-webkit-justify-content: center;*/
    /*justify-content: center;*/
    text-align: left;
    margin-left: 5px;
}

.product_list .et_pb_row {
    padding-bottom: 5px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

.top-bar-search {
    background: cadetblue;
    padding: 5px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}

.box-show-enrolled {
    float: right
}

.box-search-left {
    display: inline-block;
    float: left
}

.box-search-right {
    display: inline-block;
    float: right
}

.box-search-left form {
    display: inline-block
}

.bt-all {
    background: #c03;
    color: white;
    padding: 0px 20px;
    border: 1px solid azure;
}

.top-bar-search input[type="text"] {
    padding: 3px;
}

.top-bar-search input[type="text"],
.top-bar-search input[type="submit"],
.top-bar-search select,
.top-bar-search button,
.top-bar-search a {
    /*padding: 10px !important;*/
    border: none !important;
    /*border-radius: 5px !important;*/
}

.top-bar-search input[type="text"] {
    /*padding: 0;*/
    padding-left: 10px;
    /*border: none*/
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {

    /* Safari only override */
    ::i-block-chrome, .top-bar-search input[type="text"] {
        padding: 2px;
    }
}

span.number {
    color: red;
    position: absolute;
    top: 10px;
    right: -5px;
    background: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    font-weight: 700;
    display: none;
}

.menu-notification {
    /*display: none*/
}

.menu-notification .link-my-account {
    left: -45px;
}

.bt-all.et_pb_promo_button.info:hover,
.search-submit.et_pb_promo_button.btn-green:hover, .bt-all.et_pb_promo_button.info,
.search-submit.et_pb_promo_button.btn-green {
    padding: 0 15px !important;;
    font-size: 14px;
}

.bt-all.et_pb_promo_button.info {
    /*line-height: 26px*/
}

.bt-all.et_pb_promo_button.info:hover:after {
    opacity: 0 !important;
}

.search-form .featured,
.search-form .types,
.search-form .status {
    margin-left: 3px;
}

.search-submit.et_pb_promo_button.btn-green {
    margin-left: 5px;
}

.favorite {
    color: #c03;
    font-size: 20px;
    margin-right: 10px;

}
.comment-form-notify-me{display: none}
.box-search-right .favorite {
    color: white;
    font-size: 20px;
    margin-right: 125px;
}

.add .fa-star {
    display: none
}

.remove .fa-star-o {
    display: none
}

.favorites {
    margin-left: 5px;
}

.post-meta {
    display: none
}

.single-product .sponsorLaunch ,
.single-product .et_pb_promo_button.btn-green{
    display: none;
}
.copyright p{padding-bottom: 0;}
.copyright {
    padding-top: 20px;
}
.info-login {
    font-size: 14px;
    text-align: left;
    float: left;
    width: 75%;
}

.info-login a {
    line-height: 13px;
    display: inline-block;
    color: #2EA3F2 !important;
}
@media screen and (max-width: 980px) {
    .footer-subcribe {
        width: 63%
    }

    .footer-subcribe form {
        width: 82%
    }

    .mc4wp-form input.button-info[type="submit"] {
        padding: 6px 3px
    }

    .box-search-left, .box-search-right {
        width: 100%;
        text-align: center
    }

    .box-search-right .favorite {
        color: white;
        font-size: 20px;
        margin-right: 0;
        float: right;
    }

    .box-search-right {
        margin-top: 5px;
    }

    .product_list .box-button {
        width: 100%
    }

    .product_list .box-title {
        width: 75%
    }
}

@media screen and (max-width: 767px) {
    .footer-subcribe span, .copyright {
        width: 100%;
        text-align: center;
        line-height: 25px
    }

    .footer-subcribe {
        width: 100%
    }

    .footer-subcribe form {
        width: 100%
    }

    .footer-subcribe form input {
        width: 100% !important
    }

    .product_list .box-title, .product_list .box-image {
        width: 100%
    }

}

@media screen and (max-width: 480px) {
    input[type="text"], input.text, input.title, textarea, select {
        width: 100%;
        margin-bottom: 8px !important;
        margin-left: 0 !important;
    }

    .top-bar-search input[type="text"] {
        width: 93%;
        padding: 3px 9px;
    }

    .box-search-right .favorite {
        float: none;
    }

    h3 {
        font-size: 18px !important;;
    }

    .et_pb_pricing_table_button, .et_pb_promo_button, a.et_pb_more_button, .et_pb_newsletter_button, .form-submit input, .et_pb_contact_submit, .et_pb_contact_reset, .single_add_to_cart_button .button {
        padding: 0 5px !important;
    }

    .launchRemoveWraper {
        padding: 0 !important;
    }

    .product_list .box-image {
        text-align: center
    }

    .product_list .box-image img {
        width: 60%;
    }

    .et_pb_promo_button {
        font-size: 18px !important;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    /* Safari 5+ ONLY */
    ::i-block-chrome, div[id*="videowhisper_container"] {
        width: 100% important;
        z-index: -99999 !important;
    }

    /* ::i-block-chrome, .fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed{height:50% !important;z-index: -999999999 !important;;}*/
    ::i-block-chrome, body.admin-bar.et_fixed_nav.et_secondary_nav_enabled #main-header {
        z-index: 9999;
    }

    ::i-block-chrome, .et_pb_column_4_4 .tabcontent li {
        width: 536px !important;
        display: inline-block;
    }
}