/* 
	NOIMAGE 
	[Part of Colorbox Themes Pack on CodeCanyon]
	
	Desc: Based on colorbox's default example4, replacing image usage with CSS3 rounded corners and box-shadow. 
		  Square version.
*/

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:100000; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/

#cboxOverlay{ background:#272727; } 
#cboxWrapper { overflow:visible; }
#cboxTopLeft, #cboxTopCenter, #cboxTopRight, #cboxBottomLeft, #cboxBottomCenter, #cboxBottomRight, #cboxMiddleLeft, #cboxMiddleRight {
	background:#ffffff;
}
#colorbox {
	overflow:visible;
	outline: 1px solid #D5D5D5;
}
    #cboxTopLeft{width:6px; height:6px;  }
    #cboxTopCenter{height:6px; }
    #cboxTopRight{width:6px; height:6px; }
    #cboxBottomLeft{width:6px; height:6px; }
    #cboxBottomCenter{height:6px; }
    #cboxBottomRight{width:6px; height:6px; }
    #cboxMiddleLeft{width:6px; }
    #cboxMiddleRight{width:6px; }
	
    #cboxContent{background:#fff; overflow:visible;}
        .cboxIframe {background:#fff;}
		.cboxPhoto {margin-bottom:0px;}
		.cboxPhoto.withLongCaption { margin-bottom:0px; }
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:0px; font-style: italic; }
        #cboxTitle{ 
			position:absolute; left:0; bottom:0; clear:both; text-align:center; width:100%; overflow:hidden;
			min-height:16px;  
			background:#333333;
			background:rgba(0,0,0,0.7);
			padding:10px 0;
			color:#fefefe; 
		}
        #cboxCurrent{position:absolute; bottom:0px; left:100px; color:#999;  text-transform:capitalize; display:inline-block; padding-left:1.5em; }
        #cboxLoadingOverlay{background:#fff url(images/loading.gif) no-repeat 50% 50%;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; text-transform:capitalize; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

		/* Image Button Styles */
		#cboxPrevious, #cboxNext, #cboxClose {
			width:27px; height:27px; display:block; background:url(images/colorbox_fancyoverlay.png) no-repeat 0 0;
			transition:opacity 0.35s ease;
			/* -9999px replacement */
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
		}
		#cboxPrevious:hover, #cboxNext:hover, #cboxClose:hover { opacity:0.75; }
        #cboxPrevious{position:absolute; bottom:50%; left:0; color:#444; background-position:0 -54px; }
        #cboxNext{position:absolute; bottom:50%; right:0; color:#444; background-position:0 -27px; }
        #cboxClose{position:absolute; top:-21px; right:-21px; display:block; color:#444; background-position:0 0; }

		#cboxCurrent { left:0; bottom:-24px; font-size:10px; width:100%; margin:0; text-align:center; }
		
        #cboxSlideshow{position:absolute; bottom:-28px; right:-6px; color:#444;}
		#cboxSlideshow {
			color: #f9f9f9;
			font-size:10px; line-height:12px;
			background-color: #191919;
			padding: 4px 8px;
		}
		#cboxSlideshow:hover {
			background-color: #111111; color:#ffffff;
		}

/*
 IE7 and IE8. This style is not applied to IE9.
*/
/*.cboxIE #colorbox {} */
